{% for agent in agents %}
    <div id="agt-{{ agent.id }}" class="col-md-12 col-sm-12 dz-shop-card">
        <div class="dz-shop-card style-2">
            <div class="dz-media" style="min-width: 100px;width: 100px;min-height: 100px;">
                {% set profPic = agent.profilePicture is empty ? 'user.jpg' : agent.profilePicture %}
                <img src='/site/images/profile_pictures/{{ profPic }}' style="height:auto;" alt="{{ agent.fullName }}">
            </div>
            <div class="dz-content">
                <div class="dz-header">
                    <div>
                        <h4 class="title mb-0"><a href="#agent_profile">{{ agent.fullName }}</a></h4>
                    </div>
                </div>

                <div class="dz-body" style="margin-top:0!important;">
                    <div class="rate" style="margin-top:0!important;">
                        <ul class="book-info">
                            <li><span>Phone</span>{{ agent.phone }}</li>
                            <li><span>Email</span>{{ agent.email }}</li>
                        </ul>
                    </div>
                    <div class="dz-rating-box">
                        <div>
                            <p class="dz-para">{{ agent.constituency|join(', ') }}, {{ agent.county|join(', ') }}</p>
                            <div class="row">
                                <div class="col-6">
                                    <ul class="dz-rating">
                                        <li><i class="flaticon-star text-yellow"></i></li>
                                        <li><i class="flaticon-star text-yellow"></i></li>
                                        <li><i class="flaticon-star text-yellow"></i></li>
                                        <li><i class="flaticon-star text-yellow"></i></li>
                                        <li><i class="flaticon-star text-muted"></i></li>
                                    </ul>
                                    <span><a href="javascript:void(0);">4.0 | 235 Reviews</a></span>
                                </div>
                                <div class="col-6">
                                {% if action is defined and action == 'view_profile' %}
                                    <a href="#" class="btn btn-primary">View Profile</a>
                                {% else %}
                                    <button type="button" class="btn btn-primary choose-agent-btn" data-agent-id="{{ agent.id }}">Choose VCE</button>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <p>No Vounteer Community Educator found</p>
{% endfor %}
