{% extends 'base.html.twig' %}

{% block meta_tags %}{{ meta_tags|raw }}{% endblock %}

{% block stylesheets %} 
<style>
    .myloader.active {
        display: block; /* Or any other display type you want */
    }

</style>

{% endblock %}
{% block body %}
	<div id="loading-area" class="myloader preloader-wrapper-1">
		<div class="preloader-inner">
			<div class="preloader-shade"></div>
			<div class="preloader-wrap"></div>
			<div class="preloader-wrap wrap2"></div>
			<div class="preloader-wrap wrap3"></div>
			<div class="preloader-wrap wrap4"></div>
			<div class="preloader-wrap wrap5"></div>
		</div> 
	</div>

    <!-- inner page banner -->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url({{ asset('site/images/background/bg3.jpg') }});">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Checkout</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('app_shop') }}"> Shop</a></li>
                        <li class="breadcrumb-item">Checkout</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- inner page banner End-->
    
    <form class="shop-form" method="post" action="{{ path('submit_checkout') }}">
        <!-- contact area -->
        <section class="content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget">
                            <h4 class="widget-title">Billing & Shipping Address</h4>
                            <div class="form-group">
                                <button type="button" id="detectLocationBtn" class="btn btn-primary">Detect My Location</button>
                            </div>
                            <div class="form-group">
                                <select  class="default-select" data-live-search="true" id="countySelect">
                                    <option value="">--Select County--</option>
                                    {% for county in counties|reverse %}
                                        <option value="{{ county.name }}">{{ county.name }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="form-group">
                                <select  class="default-select" data-live-search="true" name="constituency" id="constituencySelect" onchange="fetchAgents()">
                                    <option value="">--Select Constituency--</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" required="required" name="firstName" placeholder="First Name" value="{{user.fName}}" data-constraints="@Required"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" required="required" name="lastName" placeholder="Last Name" value="{{user.lName}}" data-constraints="@Required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" name="streetAddress" placeholder="Address" value="{{user.addresses and user.addresses|length > 0 ? user.addresses|first.streetAddress : ''}}" data-constraints="@Required"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" name="county" placeholder="Town / City" value="{{user.addresses and user.addresses|length > 0 ? user.addresses|first.county : ''}}" data-constraints="@Required"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" name="phoneNumber" placeholder="Phone" value="{{user.phone and user.phone is not null ? user.phone : ''}}" data-constraints="@Numeric"/>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" required="required" name="notes" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                            </div>
                            <input type="hidden" value="0" name="shipping">
                            <input type="hidden" value="{{cart.totalAmount}}" name="cartAndShipping">
                        </div>
                    </div>
                    <div id="agent" class="col-lg-6 col-md-6">
                        <h4 class="widget-title">Volunteer Community Educator to deliver</h4>
                        <div id="agent-cards">
                            <!-- Agent cards will be displayed here -->
                        </div>
                        <div id="change-agent" class="collapse">
                            <p>Select your county and constituency. <br/> Choose a different agent to deliver your books</p>
                        </div>
                        <input type="hidden" id="chosenAgentId" name="chosenAgentId" value="">
                        {% if vce.usertype == 'admin' %}
                        <button class="btn btn-primary btnhover mb-3" id="triggerChangeAgent" type="button" data-bs-toggle="collapse" data-bs-target="#change-agent">Change Volunteer Community Educator <i class="fa fa-arrow-circle-o-down"></i></button>
                        {% endif %}
                    </div>
                </div>
                <div class="dz-divider bg-gray-dark text-gray-dark icon-center  my-5"><i class="fa fa-circle bg-white text-gray-dark"></i></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <h4 class="widget-title">Your Order</h4>
                            <table class="table-bordered check-tbl">
                                <thead class="text-center">
                                    <tr>
                                        <th>IMAGE</th>
                                        <th>PRODUCT NAME</th>
                                        <th>TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart.orderItems %}
                                    <tr>
                                        <td class="product-item-img"><img src="/site/images/books/{{ item.book.image }}" alt="" width="58" height="132"></td>
                                        <td class="product-item-name">{{ item.book.title }}</td>
                                        <td class="product-price">KSh {{ item.subTotal }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shop-form widget">
                            <h4 class="widget-title">Order Total</h4>
                            <table class="table-bordered check-tbl mb-4">
                                <tbody>
                                    <tr>
                                        <td>Order Subtotal</td>
                                        <td class="product-price">KSh {{ cart.total }}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td>
                                            Free Shipping
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td class="product-price-total">KSh <span id="cartTotal">{{ cart.totalAmount }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 class="widget-title">Payment Method</h4>
                            <p>Mpesa or Cash on Delivery</p>
                            <div class="form-group">
                                <button class="btn btn-primary btnhover" type="submit">Place Order Now </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product END -->
        </section>
        <!-- contact area End--> 
    </form>

    <div id="locationLoader" style="display: none;">
        <p>Detecting location...</p>
    </div>


{% endblock %}

{% block javascripts_bottom %}
    <script>

    const constituencies = {
        {% for county, constituencies in countyData %}
            "{{ county }}": [
                {% for constituency in constituencies %}
                    "{{ constituency }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ]{% if not loop.last %},{% endif %}
        {% endfor %}
    };

    function loadConstituencies() {
        const selectedCounty = $("#countySelect").val();
        const $constituencySelect = $("#constituencySelect");

        // Clear the constituency dropdown
        $constituencySelect.html('<option value="">--Select Constituency--</option>');

        if (selectedCounty && constituencies[selectedCounty]) {
            $.each(constituencies[selectedCounty], function(index, constituency) {
                $constituencySelect.append($('<option></option>').val(constituency).text(constituency));
            });
        }

        // Refresh the Bootstrap Select dropdown
        $constituencySelect.selectpicker('refresh');
    }

    $(document).ready(function() {
        // Handle click event for detecting location
        $("#detectLocationBtn").click(function() {
            getLocationAndUpdateSelects(); // Trigger the location detection function
        });
        
        function getLocationAndUpdateSelects() {

            const $loader = $('#locationLoader'); // Select the loader element
            $loader.show(); // Show the loader

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    fetch(`https://nominatim.openstreetmap.org/reverse?lat=${latitude}&lon=${longitude}&format=json`, {
                        headers: {
                            'User-Agent': 'ID of your APP/service/website/etc. v0.1'
                        }
                    })
                    .then(res => res.json())
                    .then(res => {
                        const address = res.address || {};
                        const constituency = address.municipality || address.city || address.town || 
                                            address.village || address.city_district || address.district || 
                                            address.borough || address.suburb || address.subdivision;
                        const county = address.county || address.state; // This corresponds to the "County"
                        const street = address.road || address.pedestrian || address.path;

                        if (county) {
                            console.log("Detected County:", county);
                            // Update the county dropdown
                            const $countySelect = $("#countySelect");
                            if (!$countySelect.find(`option[value="${county}"]`).length) {
                                $countySelect.append($('<option></option>').val(county).text(county));
                            }
                            $countySelect.val(county);
                            $countySelect.selectpicker('refresh'); // Refresh dropdown if you're using a plugin
                        }

                        if (constituency) {
                            console.log("Detected Constituency:", constituency);
                            // Send constituency and county data to the server via AJAX
                            $.ajax({
                                url: '{{ path('update_constituency') }}',
                                method: 'POST',
                                data: {
                                    constituency: constituency,
                                    county: county,
                                    _csrf_token: '{{ csrf_token('update_constituency') }}'
                                },
                                success: function(response) {
                                    if (response.success) {
                                        console.log("Constituency updated or added successfully.");

                                        // Update the constituency dropdown
                                        const $constituencySelect = $("#constituencySelect");
                                        if (!$constituencySelect.find(`option[value="${response.constituencyId}"]`).length) {
                                            $constituencySelect.append($('<option></option>')
                                                .val(response.constituencyId)
                                                .text(constituency));
                                        }
                                        $constituencySelect.val(response.constituencyId);
                                        $constituencySelect.selectpicker('refresh');
                                        // Ensure it triggers the `fetchAgents` function when selected
                                        fetchAgents();
                                    } else {
                                        console.error("Failed to update constituency:", response.error);
                                    }
                                },
                                error: function(xhr, status, error) {
                                    console.error("AJAX error:", error);
                                }
                            });
                        } else {
                            alert("Unable to detect a valid constituency.");
                        }

                        if (street) {
                            console.log("Detected Street:", street);
                            // Update the street address input
                            $('input[name="streetAddress"]').val(street);
                        }
                    })
                    .catch(error => {
                        console.error("Error fetching location data:", error);
                    })
                    .finally(() => {
                        $loader.hide(); // Hide the loader once the process is complete
                    });

                }, function(error) {
                    console.error("Geolocation error:", error.message);
                    alert("Unable to retrieve your location. Please enable location access.");
                }, {
                    enableHighAccuracy: true
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

    });
// Attach the function to the Detect My Location button

    $(document).ready(function() {
        console.log("jQuery Loaded");
        // Populate the countySelect dropdown
        const $countySelect = $("#countySelect");
        $.each(constituencies, function(county) {
            $countySelect.append($('<option></option>').val(county).text(county));
        });

        // Refresh the Bootstrap Select dropdown
        $countySelect.selectpicker('refresh');

        // Add change event listener to countySelect using on()
        $("#countySelect").on('change', loadConstituencies);

        // Automatically get location and update selects on page load
        // getLocationAndUpdateSelects();

    });
    </script>

    <script>
        $("#triggerChangeAgent").click(function() {

            // Toggle the text on the button
            var buttonText = $(this).text();
            console.log(buttonText); // Check the current text in console
            
            if (buttonText.trim() === "Change Agent") {
                $(this).text("Close");
                $('#agent-cards .dz-shop-card').show();
                $('#change-agent .dz-shop-card').show();        

            } else {
                $(this).text("Change Agent");
            }

        });
    </script>

    <script>
    function fetchAgents() {
        var county = $('#countySelect').val();
        var constituency = $('#constituencySelect').val();

        $.ajax({
            url: '{{ path('fetch_agents') }}',
            method: 'POST',
            data: {
                county: county,
                constituency: constituency,
                _csrf_token: '{{ csrf_token('fetch_agents') }}'
            },
            success: function(response) {
                $('#agent-cards').html(response.htmlSelectedAgent);
                $('#change-agent').html(response.htmlOtherAgents);

                $('#chosenAgentId').val(response.selectedAgentId);
                console.log("agentUsername: " + response.agentUsername);

                // Attach click event handlers for the Choose Agent buttons
                attachChooseAgentHandlers();
            },
            error: function(xhr, status, error) {
                console.error('Error fetching agents:', error);
            }
        });
    }

    function attachChooseAgentHandlers() {
        $('.choose-agent-btn').click(function() {
            var agentId = $(this).data('agent-id');
            console.log('agentId: ' + agentId);
            
            // Set the value of the hidden input field
            $('#chosenAgentId').val(agentId);

            // Change the text and class of all .choose-agent-btn elements to 'Choose Agent' and 'btn-primary'
            $('.choose-agent-btn').text('Choose Agent').removeClass().addClass('btn btn-primary choose-agent-btn');

            // Change the button text to "Selected" and update its class to btn-success
            $(this).text('Selected').removeClass().addClass('btn btn-success choose-agent-btn');

            // Hide all agent cards except the chosen one
            $('#agent-cards .dz-shop-card').hide();
            $('#change-agent .dz-shop-card').hide();
            
            $(this).closest('.dz-shop-card').show();
            $("#agt-" + agentId).show();
            $('#agent-cards').append($("#agt-"+agentId));
        });
    }


    // Call the function initially to attach the handlers to any existing buttons
    attachChooseAgentHandlers();
    </script>
    <script>
    jQuery(document).ready(function() {
        jQuery('.shop-form').on('submit', function() {
            jQuery('#loading-area').show();  // Show the preloader
        });
    });
    </script>

{% endblock %}