{% extends 'base.html.twig' %}

{% block meta_tags %}{{ meta_tags|raw }}{% endblock %}

{% block stylesheets %} 
<style>
    .myloader.active {
        display: block; /* Or any other display type you want */
    }

</style>

{% endblock %}
{% block body %}
	<div id="loading-area" class="myloader preloader-wrapper-1">
		<div class="preloader-inner">
			<div class="preloader-shade"></div>
			<div class="preloader-wrap"></div>
			<div class="preloader-wrap wrap2"></div>
			<div class="preloader-wrap wrap3"></div>
			<div class="preloader-wrap wrap4"></div>
			<div class="preloader-wrap wrap5"></div>
		</div> 
	</div>

    <!-- inner page banner -->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url({{ asset('site/images/background/bg3.jpg') }});">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Checkout</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('app_shop') }}"> Shop</a></li>
                        <li class="breadcrumb-item">Checkout</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- inner page banner End-->
    
    <form class="shop-form" method="post" action="{{ path('submit_checkout') }}">
        <!-- contact area -->
        <section class="content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget">
                            <h4 class="widget-title">Billing & Shipping Address</h4>
                            <div class="form-group">
                                <button type="button" id="detectLocationBtn" class="btn btn-primary">Detect My Location</button>
                            </div>
                            <div class="form-group">
                                <select  class="default-select" data-live-search="true" id="countySelect">
                                    <option value="">--Select County--</option>
                                    {% for county in counties|reverse %}
                                        <option value="{{ county.name }}">{{ county.name }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="form-group">
                                <select  class="default-select" data-live-search="true" name="constituency" id="constituencySelect" onchange="fetchAgents()">
                                    <option value="">--Select Constituency--</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" required="required" name="firstName" placeholder="First Name" value="{{user.fName}}" data-constraints="@Required"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" required="required" name="lastName" placeholder="Last Name" value="{{user.lName}}" data-constraints="@Required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" name="streetAddress" placeholder="Address" value="{{user.addresses and user.addresses|length > 0 ? user.addresses|first.streetAddress : ''}}" data-constraints="@Required"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" name="county" placeholder="Town / City" value="{{user.addresses and user.addresses|length > 0 ? user.addresses|first.county : ''}}" data-constraints="@Required"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" name="phoneNumber" placeholder="Phone" value="{{user.phone and user.phone is not null ? user.phone : ''}}" data-constraints="@Numeric"/>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" required="required" name="notes" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                            </div>
                            <input type="hidden" value="0" name="shipping">
                            <input type="hidden" value="{{cart.totalAmount}}" name="cartAndShipping">
                        </div>
                    </div>
                    <div id="agent" class="col-lg-6 col-md-6">
                        <h4 class="widget-title">Volunteer Community Educator to deliver</h4>
                        <div id="agent-cards">
                            <!-- Agent cards will be displayed here -->
                        </div>
                        <div id="change-agent" class="collapse">
                            <p>Select your county and constituency. <br/> Choose a different agent to deliver your books</p>
                        </div>
                        <input type="hidden" id="chosenAgentId" name="chosenAgentId" value="">
                        {% if vce.usertype == 'admin' %}
                        <button class="btn btn-primary btnhover mb-3" id="triggerChangeAgent" type="button" data-bs-toggle="collapse" data-bs-target="#change-agent">Change Volunteer Community Educator <i class="fa fa-arrow-circle-o-down"></i></button>
                        {% endif %}
                    </div>
                </div>
                <div class="dz-divider bg-gray-dark text-gray-dark icon-center  my-5"><i class="fa fa-circle bg-white text-gray-dark"></i></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <h4 class="widget-title">Your Order</h4>
                            <table class="table-bordered check-tbl">
                                <thead class="text-center">
                                    <tr>
                                        <th>IMAGE</th>
                                        <th>PRODUCT NAME</th>
                                        <th>TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart.orderItems %}
                                    <tr>
                                        <td class="product-item-img"><img src="/site/images/books/{{ item.book.image }}" alt="" width="58" height="132"></td>
                                        <td class="product-item-name">{{ item.book.title }}</td>
                                        <td class="product-price">KSh {{ item.subTotal }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shop-form widget">
                            <h4 class="widget-title">Order Total</h4>
                            <table class="table-bordered check-tbl mb-4">
                                <tbody>
                                    <tr>
                                        <td>Order Subtotal</td>
                                        <td class="product-price">KSh {{ cart.total }}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td>
                                            Free Shipping
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td class="product-price-total">KSh <span id="cartTotal">{{ cart.totalAmount }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 class="widget-title">Payment Method</h4>
                            <p>Mpesa or Cash on Delivery</p>
                            <div class="form-group">
                                <button class="btn btn-primary btnhover" type="submit">Place Order Now </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product END -->
        </section>
        <!-- contact area End--> 
    </form>


{% endblock %}

{% block javascripts_bottom %}
    <script>

    const constituencies = {
        {% for county, constituencies in countyData %}
            "{{ county }}": [
                {% for constituency in constituencies %}
                    "{{ constituency }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ]{% if not loop.last %},{% endif %}
        {% endfor %}
    };

    function loadConstituencies() {
        const selectedCounty = $("#countySelect").val();
        const $constituencySelect = $("#constituencySelect");

        // Clear the constituency dropdown
        $constituencySelect.html('<option value="">--Select Constituency--</option>');

        if (selectedCounty && constituencies[selectedCounty]) {
            $.each(constituencies[selectedCounty], function(index, constituency) {
                $constituencySelect.append($('<option></option>').val(constituency).text(constituency));
            });
        }

        // Refresh the Bootstrap Select dropdown
        $constituencySelect.selectpicker('refresh');
    }

    $(document).ready(function() {
        // Handle click event for detecting location
        $("#detectLocationBtn").click(function() {
            getLocationAndUpdateSelects(); // Trigger the location detection function
        });
        
        // Rest of the code...
        function getLocationAndUpdateSelects() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    console.log("Latitude:", latitude, "Longitude:", longitude);

                    const coord = [latitude, longitude] 
                    fetch(`https://nominatim.openstreetmap.org/reverse?lat=${coord[0]}&lon=${coord[1]}&format=json`, {
                    headers: {
                        'User-Agent': 'ID of your APP/service/website/etc. v0.1'
                    }
                    }).then(res => res.json())
                    .then(res => {
                        console.log('display_name:')
                        console.log(res.display_name)
                        console.log('address:')
                        console.log(res.address)
                    })

                    // Send coordinates to the server to determine county and constituency
                    fetch(`/find/client/location?lat=${latitude}&lng=${longitude}`)
                        .then(response => response.json())
                        .then(data => {
                            const countyFromLocation = data.county;
                            const constituencyFromLocation = data.constituency;
                            const constituencyIdFromLocation = data.constituency_id;

                            // Set the county select value
                            const $countySelect = $("#countySelect");
                            $countySelect.val(countyFromLocation).trigger('change'); // Update county select and trigger change event

                            // Load constituencies for the selected county
                            loadConstituencies();

                            // Set the constituency select value if a valid constituency was retrieved
                            const $constituencySelect = $("#constituencySelect");

                            // Check if the constituency exists in the dropdown options
                            let constituencyExists = false;
                            $constituencySelect.find('option').each(function() {
                                if ($(this).val() === constituencyFromLocation) {
                                    constituencyExists = true;
                                }
                            });

                            // If the constituency doesn't exist, add it as a new option
                            if (!constituencyExists && constituencyFromLocation) {
                                $constituencySelect.append($('<option></option>').val(constituencyFromLocation).text(constituencyFromLocation));
                            }

                            // Set the constituency select value
                            $constituencySelect.val(constituencyFromLocation);

                            // Refresh the Bootstrap Select dropdowns
                            $countySelect.selectpicker('refresh');
                            $constituencySelect.selectpicker('refresh');
                        })
                        .catch(error => console.error("Error fetching location data:", error));
                        
                }, function(error) {
                    console.error("Geolocation error:", error.message);
                    alert("Unable to retrieve your location. Please enable location access.");
                },
                {
                    enableHighAccuracy: true
                });
            } else {
                console.error("Geolocation is not supported by this browser.");
                alert("Your browser does not support geolocation.");
            }
        }
    });


    //document.getElementById('getLocationBtn').addEventListener('click', function () {
    //    if (navigator.geolocation) {
    //        
    //        navigator.geolocation.getCurrentPosition(
    //            function (position) {
    //                const latitude = position.coords.latitude;
    //                const longitude = position.coords.longitude;
//
    //                console.log("Latitude:", latitude, "Longitude:", longitude);
//
    //                // Send coordinates to the server to determine county and constituency
    //                fetch(`/find/client/location?lat=${latitude}&lng=${longitude}`)
    //                    .then(response => response.json())
    //                    .then(data => {
    //                        console.log("County:", data.county, "Constituency:", data.constituency);
    //                        // Update your UI with the retrieved location information
    //                        document.getElementById('locationInfo').innerText = 
    //                            `County: ${data.county}, Constituency: ${data.constituency}`;
    //                    })
    //                    .catch(error => console.error("Error fetching location data:", error));
    //            },
    //            function (error) {
    //                console.error("Geolocation error:", error.message);
    //                alert("Unable to retrieve your location. Please enable location access.");
    //            },
    //            {
    //                enableHighAccuracy: true
    //            }
    //        );
    //    } else {
    //        console.error("Geolocation is not supported by this browser.");
    //        alert("Your browser does not support geolocation.");
    //    }
    //});



    $(document).ready(function() {
        console.log("jQuery Loaded");
        // Populate the countySelect dropdown
        const $countySelect = $("#countySelect");
        $.each(constituencies, function(county) {
            $countySelect.append($('<option></option>').val(county).text(county));
        });

        // Refresh the Bootstrap Select dropdown
        $countySelect.selectpicker('refresh');

        // Add change event listener to countySelect using on()
        $("#countySelect").on('change', loadConstituencies);

        // Automatically get location and update selects on page load
        // getLocationAndUpdateSelects();

    });
    </script>

    <script>
        $("#triggerChangeAgent").click(function() {

            // Toggle the text on the button
            var buttonText = $(this).text();
            console.log(buttonText); // Check the current text in console
            
            if (buttonText.trim() === "Change Agent") {
                $(this).text("Close");
                $('#agent-cards .dz-shop-card').show();
                $('#change-agent .dz-shop-card').show();        

            } else {
                $(this).text("Change Agent");
            }

        });
    </script>

    <script>
    function fetchAgents() {
        var county = $('#countySelect').val();
        var constituency = $('#constituencySelect').val();

        $.ajax({
            url: '{{ path('fetch_agents') }}',
            method: 'POST',
            data: {
                county: county,
                constituency: constituency,
                _csrf_token: '{{ csrf_token('fetch_agents') }}'
            },
            success: function(response) {
                $('#agent-cards').html(response.htmlSelectedAgent);
                $('#change-agent').html(response.htmlOtherAgents);

                $('#chosenAgentId').val(response.selectedAgentId);
                console.log("agentUsername: " + response.agentUsername);

                // Attach click event handlers for the Choose Agent buttons
                attachChooseAgentHandlers();
            },
            error: function(xhr, status, error) {
                console.error('Error fetching agents:', error);
            }
        });
    }

    function attachChooseAgentHandlers() {
        $('.choose-agent-btn').click(function() {
            var agentId = $(this).data('agent-id');
            console.log('agentId: ' + agentId);
            
            // Set the value of the hidden input field
            $('#chosenAgentId').val(agentId);

            // Change the text and class of all .choose-agent-btn elements to 'Choose Agent' and 'btn-primary'
            $('.choose-agent-btn').text('Choose Agent').removeClass().addClass('btn btn-primary choose-agent-btn');

            // Change the button text to "Selected" and update its class to btn-success
            $(this).text('Selected').removeClass().addClass('btn btn-success choose-agent-btn');

            // Hide all agent cards except the chosen one
            $('#agent-cards .dz-shop-card').hide();
            $('#change-agent .dz-shop-card').hide();
            
            $(this).closest('.dz-shop-card').show();
            $("#agt-" + agentId).show();
            $('#agent-cards').append($("#agt-"+agentId));
        });
    }


    // Call the function initially to attach the handlers to any existing buttons
    attachChooseAgentHandlers();
    </script>
    <script>
    jQuery(document).ready(function() {
        jQuery('.shop-form').on('submit', function() {
            jQuery('#loading-area').show();  // Show the preloader
        });
    });
    </script>

{% endblock %}