{% extends 'base.html.twig' %}
{% block meta_tags %}{{ meta_tags|raw }}{% endblock %}

{% block stylesheets %} 

    <style>

/* Add this CSS to your stylesheet */
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width:700px;
}

.list-unstyled {
  width: 100%; /* Set the width of the list to 100% */
  padding: 0;
  list-style: none;
}

.cart-item {
  width: 100%; /* Set the width of each cart item to 100% */
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
}

.cart-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.cart-price,
.cart-total {
  color: #555;
}

.invalid-feedback {
  color: #d9534f;
}

/* Optional: Style for hover effect */
.cart-item:hover {
  background-color: #f9f9f9;
}



    </style>

{% endblock %}

{% block body %}

{% if cart.orderItems.count > 0 %}
		<!--inner  page banner -->
		<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url({{ asset('site/images/background/bg3.jpg') }});">
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<h1>Cart</h1>
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
							<li class="breadcrumb-item"><a href="{{ path('app_shop') }}"> Shop</a></li>
							<li class="breadcrumb-item">Cart</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- inner page banner End-->
		
		<!-- contact area -->
		<section class="content-inner shop-account">
    {{ form_start(form) }}
			<!-- Product -->
			<div class="container">
				<div class="row mb-5">
					<div class="col-lg-12">
						<div class="table-responsive">
							<table class="table check-tbl">
								<thead>
									<tr>
										<th>Product</th>
										<th>Product name</th>
										<th>Unit Price</th>
										<th>Quantity</th>
										<th>Total</th>
										<th class="text-end">Close</th>
									</tr>
								</thead>
								<tbody>
                {% for item in form.orderItems %}
									<tr>
										<td class="product-item-img"><a href="{{ path('show_book', {'slug': item.vars.data.book.slug}) }}"><img src="/site/images/books/{{ item.vars.data.book.image }}" alt="{{item.vars.data.book.title}}"></a></td>
										<td class="product-item-name"><a href="{{ path('show_book', {'slug': item.vars.data.book.slug}) }}">{{ item.vars.data.book.title }}</a></td>
										<td class="product-item-price">KSh {{ item.vars.data.book.cost | number_format }}</td>
										<td class="product-item-quantity">
											<div class="quantity btn-quantity style-1 me-3">
												{# <input id="demo_vertical2" type="text" value="1" name="demo_vertical2"/> #}
                        {{ form_widget(item.quantity, {
                        'attr': {
                            'class': '' ~ (item.quantity.vars.valid ? '' : 'is-invalid'),
                            'data-zeros': 'true',
                            'value': item.quantity.vars.value,
                            'min': '1',
                            'max': '1000'
                        }
                        }) }}
                        <div class="invalid-feedback">
                        {{ form_errors(item.quantity) }}
                        </div>
											</div>
										</td>
										<td class="product-item-totle">KSh {{ item.subTotal.vars.value }}</td>
										<td class="product-item-close">{{ form_widget(item.remove, {'attr': {'class': 'btn btn-dark btn-sm'}}) }}</td>
									</tr>
                {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="widget">
							<div class="shop-form"> 
								<h4 class="widget-title">Changed Something?</h4>
								<div class="row">
								</div>
								<div class="form-group">
                  {{ form_widget(form.save, {'attr': {'class': 'btn btn-success btnhover'}}) }}
                  {{ form_widget(form.clear, {'attr': {'class': 'btn btn-warning btnhover', 'style': 'margin-top:0'}}) }}                  
									<a class="btn btn-primary btnhover" href="{{ path('app_shop') }}">Continue Shopping</a>
								</div>
							</div>	
						</div>
					</div>
					<div class="col-lg-6">
						<div class="widget">
							<h4 class="widget-title">Cart Subtotal</h4>
							<table class="table-bordered check-tbl m-b25">
								<tbody>
									<tr>
										<td>Order Subtotal</td>
										<td>KSh {{ cart.total }}</td>
									</tr>
									<tr>
										<td>Shipping</td>
										<td>Free Shipping</td>
									</tr>
									{# <tr>
										<td>Coupon</td>
										<td>$28.00</td>
									</tr> #}
									<tr>
										<td>Total</td>
										<td>KSh {{ cart.total }}</td>
									</tr>
								</tbody>
							</table>
							<div class="form-group m-b25">
								<a href="{{ path('checkout') }}" class="btn btn-primary btnhover" type="button">Proceed to Checkout</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Product END -->
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
		</section>
		<!-- contact area End--> 

    {% else %}
        <div class="alert alert-info">
            Your cart is empty. Go to the <a href="{{ path('app_index') }}">Home page</a>.
        </div>
    {% endif %}

{% endblock %}
