{% extends 'base.html.twig' %}
{% block meta_tags %}{{ meta_tags|raw }}{% endblock %}

{% block stylesheets %} 
    <style>

/* Add this CSS to your stylesheet */
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width:700px;
}

.list-unstyled {
  width: 100%; /* Set the width of the list to 100% */
  padding: 0;
  list-style: none;
}

.cart-item {
  width: 100%; /* Set the width of each cart item to 100% */
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
}

.cart-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.cart-price,
.cart-total {
  color: #555;
}

.invalid-feedback {
  color: #d9534f;
}

/* Optional: Style for hover effect */
.cart-item:hover {
  background-color: #f9f9f9;
}


        /* Add some basic styling */
        #container {
            position: relative;
        }

        #searchInput {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            margin-bottom: 5px;
        }

        #routeSelect {
            width: 100%;
        }

    </style>

{% endblock %}
{% block body %}



    <!-- inner page banner -->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url({{ asset('site/images/background/bg3.jpg') }});">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Order Confirmation</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('app_shop') }}"> Shop</a></li>
                        <li class="breadcrumb-item">Order Confirmation</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- inner page banner End-->
    
        <!-- contact area -->
        <section class="content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="dz-divider bg-gray-dark text-gray-dark icon-center  my-5"><i class="fa fa-circle bg-white text-gray-dark"></i></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <h4 class="widget-title">Your Order</h4>
                            <table class="table-bordered check-tbl">
                                <thead class="text-center">
                                    <tr>
                                        <th>IMAGE</th>
                                        <th>PRODUCT NAME</th>
                                        <th>TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart.orderItems %}
                                    <tr>
                                        <td class="product-item-img"><img src="/site/images/books/{{ item.book.image }}" alt="" width="58" height="132"></td>
                                        <td class="product-item-name">{{ item.book.title }}</td>
                                        <td class="product-price">KSh {{ item.subTotal }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shop-form widget">
                            <h4 class="widget-title">Order Total</h4>
                            <table class="table-bordered check-tbl mb-4">
                                <tbody>
                                    <tr>
                                        <td>Order Subtotal</td>
                                        <td class="product-price">KSh {{ cart.total }}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td>
                                            Free Shipping
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td class="product-price-total">KSh <span id="cartTotal">{{ cart.totalAmount }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 class="widget-title">Payment Method</h4>
                            <p>Mpesa or Cash on Delivery</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product END -->
        </section>
        <!-- contact area End--> 


{% endblock %}
