{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <!-- inner page banner -->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url({{ asset('site/images/background/bg3.jpg') }});">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Login</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
                        <li class="breadcrumb-item">Login</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- inner page banner End-->
    
    <!-- contact area -->
    <section class="content-inner shop-account">
        <!-- Product -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        <div class="tab-content">
                            <h4>{{ render_content('login-register-title', 'NEW CUSTOMER') }}</h4>
                            <p>{{ render_content('login-register-text', 'By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.') }}</p>
                            <a class="btn btn-primary btnhover m-r5 button-lg radius-no" href="{{ path('app_register') }}">{{ render_content('login-register-cta', 'CREATE AN ACCOUNT') }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        <div class="tab-content nav">
                        
                            <form id="login" method="post" action="{{ path('app_login') }}" class="tab-pane active col-12">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        <a class="btn btn-primary btnhover m-r5 button-lg radius-no" href="{{ path('app_logout') }}">Logout</a>
                                        <a class="btn btn-primary btnhover m-r5 button-lg radius-no" href="{{ path('app_index') }}">Homepage</a>
                                    </div>
                                {% else %}                            
                                <h4 class="text-secondary">{{ render_content('login-invite-title', 'LOGIN') }}</h4>
                                <p class="font-weight-600">{{ render_content('login-invite-text', 'If you have an account with us, please log in.') }}</p>
                                <div class="mb-4">
                                    <label class="label-title">E-MAIL *</label>
                                    <input type="email" value="{{ last_username }}" placeholder="Your Email" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                                </div>
                                <div class="mb-4">
                                    <label class="label-title">PASSWORD *</label>
                                    <input placeholder="Type Password" type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >
                                <input type="hidden" name="_target_path" value="/checkout">
                                <div class="checkbox mb-3">
                                    <input type="checkbox" name="_remember_me" id="_remember_me">
                                    <label for="_remember_me">Remember me</label>
                                </div>
                                <div class="text-left">
                                    <button class="btn btn-primary btnhover me-2" type="submit">login</button>
                                    <a href="{{ path('app_forgot_password_request')}}" class="m-l5"><i class="fas fa-unlock-alt"></i> Forgot Password</a> 
                                </div>

                                {% endif %}
                            </form>
                            {% if app.user %}
                            {% else %}
                            
                                {# {{ render(controller('App\\Controller\\ResetPasswordController::renderForgotPasswordForm')) }} #}
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </section>
    <!-- contact area End--> 

{% endblock %}
