{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <!-- inner page banner -->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url({{ asset('site/images/background/bg3.jpg') }});">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Registration</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
                        <li class="breadcrumb-item">Registration</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- inner page banner End-->
    
    <!-- contact area -->
    <section class="content-inner shop-account">
        <!-- Product -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        {{ form_start(registrationForm) }}
                            <h4 class="text-secondary">Registration</h4>
                            <p class="font-weight-600">Create an account to be able to move through the checkout process faster, view and track your orders in your account and more.</p>
                            {{ form_errors(registrationForm) }}
                            <div class="mb-4">
                                <label class="label-title">First Name *</label>
                                {{ form_widget(registrationForm.f_name, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}})}}
                            </div>
                            {{ form_widget(registrationForm.middlename, {'attr': {'style': 'display:none'}}) }}                            
                            <div class="mb-4">
                                <label class="label-title">Last Name *</label>
                                {{ form_widget(registrationForm.l_name, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}})}}
                            </div>
                            <div class="mb-4">
                                <label class="label-title">Email address *</label>
                                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'required': 'required', 'placeholder': 'Your Email Address'}}) }}
                            </div>
                            <div class="mb-4">
                                <label class="label-title">Password *</label>
                                {{ form_widget(registrationForm.plainPassword, {
                                            label: 'Password',
                                            'attr': {'placeholder': 'Type Password', 'class': 'form-control'}
                                        }) }}                                
                            </div>
                            <div class="mb-5">
                                <small>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#privacy_policy">privacy policy</a>.</small>
                            </div>
                            <div class="text-left">
                                <button type="submit"  class="btn btn-primary btnhover w-100 me-2">Register</button>
                            </div>
                            <br/>
                            <a href="{{path('app_login')}}">Login instead</a>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </section>
    <!-- contact area End--> 

{% endblock %}
