{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <!-- inner page banner -->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url({{ asset('site/images/background/bg3.jpg') }});">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Login</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
                        <li class="breadcrumb-item">Login</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- inner page banner End-->
    
    <!-- contact area -->
    <section class="content-inner shop-account">
        <!-- Product -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        <div class="tab-content">
                            <h4>NEW CUSTOMER</h4>
                            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                            <a class="btn btn-primary btnhover m-r5 button-lg radius-no" href="{{ path('app_register') }}">CREATE AN ACCOUNT</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        
                        {% for flash_error in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        {{ form_start(requestForm, {'attr': {'method': 'post', 'id': 'forgot-password-1', 'class': 'tab-pane  col-12'}}) }}
                            
                            <div class="mb-3">
                                <label class="label-title">E-MAIL *</label>
                                {{ form_widget(requestForm.email, {'attr': {'required': 'required', 'class': 'form-control', 'placeholder': 'Your Email'}}) }}
                            </div>
                            <div class="text-left"> 
                                <a class="btn btn-outline-secondary btnhover m-r10" href="{{ path('app_login') }}">Back</a>
                                <button type="submit" class="btn btn-primary btnhover">Send password reset email</button>
                            </div>
                            
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </section>
    <!-- contact area End--> 

{% endblock %}
