{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <section class="py-5 newsletter-wrapper" style="background-image: url('images/background/bg1.jpg'); background-size: cover;">

        <div class="container">
            <h1 class="text-white">Reset your password</h1>
            <div class="subscride-inner">
                <div class="row style-1 justify-content-xl-between justify-content-lg-center align-items-center text-xl-start text-center">
                    <div class="col-xl-7 col-lg-12">
                        {{ form_start(resetForm) }}
                            <label class="label-title text-white">Password *</label>
                            {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control'}, 'label': 'Password'}) }}
                            <div class="text-white">
                                {{ form_errors(resetForm.plainPassword.first) }}
                            </div>
                            
                            <label class="label-title text-white">Repeat password *</label>
                            {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control'}, 'label': 'Repeat Password'}) }}
                            <div class="text-white">
                                {{ form_errors(resetForm.plainPassword.second) }}
                            </div>
                            
                            <br/>
                            <button class="btn btn-primary">Reset password</button>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
