    <div data-category="{% for category in book.category %}{{ category }}{% if not loop.last %},{% endif %}{% endfor %}" class="book-item col-md-12 col-sm-12">
        <div class="dz-shop-card style-2">
            <div class="dz-media">
                <img src="{{ asset('site/images/books/' ~ book.image ) }}" alt="{{ book.title }}">									
            </div>
            <div class="dz-content">
                <div class="dz-header">
                    <div>
                        <ul class="dz-tags">
                        {% for category in book.category %}
                            <li><a  href="{{ path('show_book', {'slug': book.slug } ) }}">{{ category|upper }}{% if not loop.last %}, {% endif %}</a></li>
                        {% endfor %}
                        </ul>
                        <h4 class="title mb-0"><a  href="{{ path('show_book', {'slug': book.slug } ) }}">{{ book.title }}</a></h4>
                    </div>
                    <div class="price">
                        <span class="price-num text-secondary">KSh {{ book.cost | number_format }}</span>
                        <del>KSh {{ book.cost * 1.15 }}</del>
                    </div>
                </div>
                
                <div class="dz-body">
                    <div class="dz-rating-box">
                        <div>
                            <p class="dz-para">{{ book.description|slice(0,300)|raw }}...
                                <a href="{{ path('show_book', {'slug': book.slug } ) }}">More Details</a>
                            </p>
                            <div>
                                <a href="{{ path('app_shop') }}" class="badge">Get 15% Discount for today</a>
                            </div>
                        </div>
                    </div>
                    <div class="rate">
                        <ul class="book-info">
                            <li><span>Writen by</span>{% for author in book.author %}
                                    {{ author }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}</li>
                            <li><span>Publisher</span>{{ book.publisher }}</li>
                        </ul>
                        <div class="d-flex">
                            <a style="margin-right:10px;" href="{{ path('show_book', {'slug': book.slug } ) }}" class="btn btn-primary">Details</a>
                            <form id="prodForm-{{book.id}}" style="display: inline;">
                                <input type="hidden" id="quantity_{{book.id}}" value="1" style="display: none;">
                                <button class="btn btn-secondary btnhover2" name="cartProd_{{book.id}}" id="cartProd_{{book.id}}" type="button"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</button>
                            </form>
                            {# <div class="bookmark-btn style-1">
                                <input class="form-check-input" type="checkbox" id="flexCheckDefault1">
                                <label class="form-check-label" for="flexCheckDefault1">
                                    <i class="flaticon-heart"></i>
                                </label>
                            </div> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
