{% extends 'base.html.twig' %}

{% block meta_tags %}{{ meta_tags|raw }}{% endblock %}

{% block body %}

    <!-- inner page banner -->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url({{ asset('site/images/background/bg3.jpg') }});">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>{{ render_content('find_vce_title', 'Find A Volunteer Community Educator Near You') }}</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
                        <li class="breadcrumb-item">Find VCE</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- inner page banner End-->
    <!-- Help Desk -->
    <div class="section-full content-inner-1 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-12 m-b30 mt-md-0 mt-4">
                    <aside class="side-bar sticky-top right">
                        <div class="service_menu_nav widget style-1">
                        <h2 style="font-size:1.2em;">Choose County and Constituency</h2>
                            <div class="form-group mb-3">
                                <select class="default-select" id="countySelect">
                                    <option value="">--Select County--</option>
                                    {% for county in counties|reverse %}
                                        <option value="{{ county.name }}">{{ county.name }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="form-group">
                                <select class="default-select" name="constituency" id="constituencySelect" onchange="fetchAgents()">
                                    <option value="">--Select Constituency--</option>
                                </select>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- Left part start -->
                <div class="col-lg-8 col-md-7 col-sm-12 inner-text">
                    <h2 class="title">Volunteer Community Educators:</h2>
                    <p class="m-b30" id ="intro"></p>
                        <div id="agent-cards">
                            <!-- Agent cards will be displayed here -->
                        </div>
                        <div id="change-agent" class="collapse">
                            <p>Choose a different agent to deliver your books</p>
                        </div>

                </div>
            </div>
        </div>
    </div>

    <script>

    const constituencies = {
        {% for county, constituencies in countyData %}
            "{{ county }}": [
                {% for constituency in constituencies %}
                    "{{ constituency }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ]{% if not loop.last %},{% endif %}
        {% endfor %}
    };

    function loadConstituencies() {
        const selectedCounty = $("#countySelect").val();
        const $constituencySelect = $("#constituencySelect");

        // Clear the constituency dropdown
        $constituencySelect.html('<option value="">--Select Constituency--</option>');

        if (selectedCounty && constituencies[selectedCounty]) {
            $.each(constituencies[selectedCounty], function(index, constituency) {
                $constituencySelect.append($('<option></option>').val(constituency).text(constituency));
            });
        }

        // Refresh the Bootstrap Select dropdown
        $constituencySelect.selectpicker('refresh');
    }

    $(document).ready(function() {
        console.log("jQuery Loaded");
        // Populate the countySelect dropdown
        const $countySelect = $("#countySelect");
        $.each(constituencies, function(county) {
            $countySelect.append($('<option></option>').val(county).text(county));
        });

        // Refresh the Bootstrap Select dropdown
        $countySelect.selectpicker('refresh');

        // Add change event listener to countySelect using on()
        $("#countySelect").on('change', loadConstituencies);
    });
    </script>
    <script>
    function fetchAgents() {
        var county = $('#countySelect').val();
        var constituency = $('#constituencySelect').val();

        $.ajax({
            url: '{{ path('fetch_agents') }}',
            method: 'POST',
            data: {
                county: county,
                constituency: constituency,
                _csrf_token: '{{ csrf_token('fetch_agents') }}'
            },
            success: function(response) {
                $('#agent-cards').html(response.htmlAllAgents);
                console.log("agentUsername: " + response.agentUsername);

                // Attach click event handlers for the Choose Agent buttons
                attachChooseAgentHandlers();
            },
            error: function(xhr, status, error) {
                console.error('Error fetching agents:', error);
            }
        });
    }

    function attachChooseAgentHandlers() {
        $('.choose-agent-btn').click(function() {
            var agentId = $(this).data('agent-id');
            console.log('agentId: ' + agentId);
            
            // Set the value of the hidden input field
            $('#chosenAgentId').val(agentId);

            // Change the text and class of all .choose-agent-btn elements to 'Choose Agent' and 'btn-primary'
            $('.choose-agent-btn').text('Choose Agent').removeClass().addClass('btn btn-primary choose-agent-btn');

            // Change the button text to "Selected" and update its class to btn-success
            $(this).text('Selected').removeClass().addClass('btn btn-success choose-agent-btn');

            // Hide all agent cards except the chosen one
            $('#agent-cards .dz-shop-card').fadeOut();
            $('#change-agent .dz-shop-card').fadeOut();
            
            $(this).closest('.dz-shop-card').fadeIn();
            $("#agt-" + agentId).fadeIn();
            $('#agent-cards').append($("#agt-"+agentId));
            $('#agent-cards').fadeIn();
        });
    }


    // Call the function initially to attach the handlers to any existing buttons
    attachChooseAgentHandlers();
    </script>

{% endblock %}