{% extends 'base.html.twig' %}

{% block body %}

	{% if page.sections | default([]) | length > 0 %}

		{% set sortedSections = page.sections|sort((a, b) => a.priority <=> b.priority) %}

		{% for section in sortedSections %}	
		{{ include('sections/' ~ section.templatePath) }}
		{% endfor %}

	{% endif %}

{% endblock %}
