{% extends 'base.html.twig' %}

{% block title %}My Profile | Home Health Education Service{% endblock %}

    {% block body %}
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- contact area -->
            <div class="content-block">
                <!-- Browse Jobs -->
                <section class="content-inner bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 m-b30">
                                <div class="sticky-top">
                                    <div class="shop-account">
                                        <div class="account-detail text-center">
                                            <div class="my-image">
                                                <a href="javascript:void(0);">
                                                    {% set profPic = app.user.profilePicture == "" ? 'user.jpg' : app.user.profilePicture %}
                                                    <img alt="{{ user.fName }}" src="{{ asset('site/images/profile_pictures/' ~ profPic ) }}">
                                                </a>
                                            </div>
                                            <div class="account-title">
                                                <div class="">
                                                    <h4 class="m-b5"><a href="javascript:void(0);">{{ user.fullname }}</a></h4>
                                                    <p class="m-b0"><a href="javascript:void(0);">{{ user.usertype|title }}</a></p>
                                                </div>
                                                {% if app.user.category == 'le' %}
                                                <!-- Agent URL Display and Copy Button -->
                                                <div class="agent-url mt-3">
                                                    <input type="text" id="agentUrl" class="form-control" value="{{ app.request.scheme ~ '://' ~ app.request.host ~ path('set_agent', {'username': user.username}) }}" readonly>
                                                    <button class="btn btn-primary mt-2" onclick="copyAgentUrl()">Copy URL</button>
                                                </div>
                                                {% endif %}
                                                <!-- End of Agent URL Display and Copy Button -->
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="#" class="active"><i class="far fa-user" aria-hidden="true"></i> 
                                                <span>Profile</span></a>
                                            </li>
                                            <li>
                                                <a href="{{ path('cart') }}"><i class="flaticon-shopping-cart-1"></i>
                                                <span>My Cart</span></a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_shop') }}"><i class="fa fa-briefcase" aria-hidden="true"></i> 
                                                <span>Shop</span></a>
                                            </li>
                                            <li>
                                                <a href="#faq"><i class="far fa-id-card" aria-hidden="true"></i> 
                                                <span>FAQ</span></a>
                                            </li>
                                            <li>
                                                <a href="#privacy_policy"><i class="fa fa-key" aria-hidden="true"></i> 
                                                <span>Privacy Policy</span></a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> 
                                                <span>Log Out</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-8 m-b30">
                                <div class="shop-bx shop-profile">
                                    <div class="shop-bx-title clearfix">
                                        <h5 class="text-uppercase">Basic Information</h5>
                                    </div>
                                    {{ form_start(form) }}
                                        <div class="row m-b30">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="mb-3">
                                                    {{ form_label(form.f_name) }}
                                                    {{ form_widget(form.f_name, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="mb-3">
                                                    {{ form_label(form.l_name) }}
                                                    {{ form_widget(form.l_name, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="mb-3">
                                                    {{ form_label(form.username) }}
                                                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="mb-3">
                                                    {{ form_label(form.residence) }}
                                                    {{ form_widget(form.residence, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="mb-3">
                                                    {{ form_label(form.about) }}
                                                    {{ form_widget(form.about, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-bx-title clearfix">
                                            <h5 class="text-uppercase">Contact Information</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="mb-3">
                                                    {{ form_label(form.phone) }}
                                                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="mb-3">
                                                    {{ form_label(form.email) }}
                                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="mb-3">
                                                    {{ form_label(form.county) }}
                                                    <div class="form-control overflow-auto" style="height: 200px;">
                                                        {% for child in form.county %}
                                                            <div class="form-check">
                                                                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                                                {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="mb-3">
                                                    {{ form_label(form.constituency) }}
                                                    <div class="form-control overflow-auto" style="height: 200px;">
                                                        {% for child in form.constituency %}
                                                            <div class="form-check">
                                                                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                                                {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button class="btn btn-primary btnhover">Save Setting</button>
                                    {{ form_end(form) }}
                                </div>    
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Browse Jobs END -->
            </div>
        </div>
        <!-- Content END-->
    {% endblock %}

{% block javascripts_bottom %}

    <script>

    const constituencies = {
        {% for county, constituencies in countyData %}
            "{{ county }}": [
                {% for constituency in constituencies %}
                    "{{ constituency }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ]{% if not loop.last %},{% endif %}
        {% endfor %}
    };

    function loadConstituencies() {
        const selectedCounty = $("#countySelect").val();
        const $constituencySelect = $("#constituencySelect");

        // Clear the constituency dropdown
        $constituencySelect.html('<option value="">--Select Constituency--</option>');

        if (selectedCounty && constituencies[selectedCounty]) {
            $.each(constituencies[selectedCounty], function(index, constituency) {
                $constituencySelect.append($('<option></option>').val(constituency).text(constituency));
            });
        }

        // Refresh the Bootstrap Select dropdown
        $constituencySelect.selectpicker('refresh');
    }

    $(document).ready(function() {
        console.log("jQuery Loaded");
        // Populate the countySelect dropdown
        const $countySelect = $("#countySelect");
        $.each(constituencies, function(county) {
            $countySelect.append($('<option></option>').val(county).text(county));
        });

        // Refresh the Bootstrap Select dropdown
        $countySelect.selectpicker('refresh');

        // Add change event listener to countySelect using on()
        $("#countySelect").on('change', loadConstituencies);
    });

    // Function to copy agent URL to clipboard
    function copyAgentUrl() {
        const agentUrl = document.getElementById("agentUrl");
        agentUrl.select();
        agentUrl.setSelectionRange(0, 99999); // For mobile devices

        navigator.clipboard.writeText(agentUrl.value).then(function() {
            alert("URL copied to clipboard!");
        }, function(err) {
            console.error("Could not copy text: ", err);
        });
    }
    </script>

{% endblock %}
