<style>

.address-content {
	display: block;
	overflow: hidden;
	max-height: 4.5em; /* Approx 3 lines */
	line-height: 1.5em;
	position: relative;
}

.read-more-btn {
	background-color: transparent;
	color: #007bff;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	padding: 0;
	display: block;
	margin-top: 5px;
}

.read-more-btn:focus {
	outline: none;
}
</style>

    {% set categories = global_vars('categories') %}
	{% set vce = global_vars('vce') %}
	<!-- Footer -->
	<footer class="site-footer style-1">
		<!-- Footer Category -->
		<div class="footer-category">
			<div class="container">
				<div class="category-toggle">
					<a href="javascript:void(0);" class="toggle-btn">Books categories</a>
					<div class="toggle-items row">
						<div class="footer-col-book">
							<ul>
							{% for category in categories %}
								<li><a href="#category_page">{{ category.name }}</a></li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Category End -->
		
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
						<div class="widget widget_about">
							<div class="footer-logo logo-white">
								<a href="{{ path('app_index') }}"><img src="{{ asset('site/images/hhes_logo.png') }}" alt=""></a> 
							</div>
							<p class="text">Home Health Education Service is a company that believes in the power of being healthy</p>
							<div class="dz-social-icon style-1">
								<ul>
									<li><a href="https://www.facebook.com/dexignzone" target="_blank" ><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
									<li><a href="https://www.linkedin.com/showcase/3686700/admin/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
									<li><a href="https://www.instagram.com/website_templates__/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.2s">
						<div class="widget widget_services">
							<h5 class="footer-title">Our Links</h5>
							<ul>
								<li><a href="{{ path('app_about') }}">About us</a></li>
								<li><a href="{{ path('app_contact') }}">Contact us</a></li>
								<li><a href="#privacy_policy">Privacy Policy</a></li>
								<li><a href="{{ path('app_shop') }}">Shop</a></li>
								<li><a href="#faq">FAQ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
						<div class="widget widget_services">
							<h5 class="footer-title">HHES Kenya</h5>
							<ul>
								<li><a href="{{ path('app_index') }}">HHES</a></li>
								<li><a href="{{ path('list_constituencies') }}">Constituencies</a></li>
								<li><a href="{{ path('app_shop') }}">Book Details</a></li>
								<li><a href="{{ path('app_blog') }}">Blog Details</a></li>
								<li><a href="{{ path('app_shop') }}">Shop</a></li>
							</ul>   
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.4s">
						<div class="widget widget_services">
							<h5 class="footer-title">Resources</h5>
							<ul>
								<li><a href="#downloads">Download</a></li>
								<li><a href="#faq">Help Center</a></li>
								<li><a href="{{ path('app_shop') }}">Shop Cart</a></li>
								<li><a href="{{ path('app_login') }}">Login</a></li>
								<li><a href="{{ path('app_about') }}">Partner</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
						<div class="widget widget_getintuch">
							<h5 class="footer-title">Get in Touch With {{ vce.fName|title }}</h5>
							<ul>
								<li>
									<i class="flaticon-placeholder"></i>
									<span class="address-content">
										{% for constituency in vce.constituency %}
											{{ constituency }}, {{ constituency.county }}{% if not loop.last %}, {% endif %}
										{% endfor %}
									</span>
								</li>
								<li>
									<i class="flaticon-phone"></i>
									<span>{{ vce.phone }}</span>
								</li>
								<li>
									<i class="flaticon-email"></i> 
									<span>{{ vce.email }}</span>
								</li>
							</ul>
							<button class="read-more-btn">Read More</button>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Top End -->
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row fb-inner">
					<div class="col-lg-6 col-md-12 text-start"> 
						<p class="copyright-text">Home Health Education Service Kenya - © {{ "now"|date('Y')}} All Rights Reserved</p>
					</div>
					<div class="col-lg-6 col-md-12 text-end"> 
						<p>Website Development & SEO done with <span class="heart"></span> by <a href="https://joeseo.co.ke/">Joe SEO Consultancy</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Bottom End -->
		
	</footer>
	<!-- Footer End -->

<script>

document.addEventListener("DOMContentLoaded", function () {
	const readMoreBtn = document.querySelector(".read-more-btn");
	const addressContent = document.querySelector(".address-content");

	readMoreBtn.addEventListener("click", function () {
		addressContent.classList.toggle("expanded");
		if (addressContent.classList.contains("expanded")) {
			addressContent.style.maxHeight = "none";
			readMoreBtn.textContent = "Read Less";
		} else {
			addressContent.style.maxHeight = "4.5em";
			readMoreBtn.textContent = "Read More";
		}
	});
});


</script>