{{ form_start(form, {'attr': {'class': '', 'action': path('contact_form')}}) }}
  <div class="input-group">
    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name', 'type': 'text', 'id': 'contact-name', 'data-constraints': '@Required'}}) }}
  </div>
  <div class="input-group">
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'type': 'email', 'id': 'contact-email', 'data-constraints': '@Email @Required'}}) }}
  </div>
  <div class="input-group">
    {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'placeholder': 'Phone Number', 'type': 'text', 'id': 'contact-phone', 'data-constraints': '@Required'}}) }}
  </div>
  <div class="input-group">
    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Message', 'id': 'contact-message', 'rows': '5', 'style': 'min-height:250px;', 'data-constraints': '@Required'}})}}
  </div>
  <button type="submit" class="btn w-100 btn-primary btnhover">Send Message <i class="far fa-paper-plane"></i></button>
{{ form_end(form) }}
<small>This site is protected by reCAPTCHA and the Google
<a href="https://policies.google.com/privacy">Privacy Policy</a> and
<a href="https://policies.google.com/terms">Terms of Service</a> apply.</small>
