{% extends 'base.html.twig' %}

{% block meta_tags %}{{ meta_tags|raw }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('site/icons/themify/themify-icons.css') }}">
	<style>

	.thumbnail-images img:hover {
		border-color: #333;
	}

	</style>
{% endblock %}
{% block body %}
{% include 'sections/listing-json-ld.html.twig' %}
	{% include 'sections/variable_banner.html.twig' with {'title': title, 'page_category': 'Books'} %}
	<div class="page-content bg-grey">
		<section class="content-inner-1">
			<div class="container">
				<div class="row book-grid-row style-4 m-b60">
					<div class="col">
						<div class="dz-box">
						<div class="dz-media">
							<img id="currentImage" src="{{ asset('site/images/books/' ~ book.image ) }}" alt="book">
							<div class="swiper-container">
								<div class="thumbnail-images swiper-wrapper">
									{# <div style="width:50px;" class="swiper-slide">
										<img src="{{ asset('site/images/books/' ~ book.image ) }}" alt="book" onclick="changeImage('{{ asset('site/images/books/' ~ book.image ) }}')">
									</div> #}
									{% for presentation in book.presentations %}
									<div style="width:100px;" class="swiper-slide">
										<img src="/{{ presentation.photoPath }}" alt="book-thumbnail" onclick="changeImage('/{{ presentation.photoPath }}')">
									</div>
									{% endfor %}
								</div>
								<div class="swiper-button-next"></div>
								<div class="swiper-button-prev"></div>

							</div>
						</div>
							<div class="dz-content">
								<div class="dz-header">
									<h2 class="title">{{ book.title }}</h2>
									<div class="shop-item-rating">
										<div class="d-lg-flex d-sm-inline-flex d-flex align-items-center">
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>	
												<li><i class="flaticon-star text-yellow"></i></li>	
												<li><i class="flaticon-star text-yellow"></i></li>	
												<li><i class="flaticon-star text-yellow"></i></li>		
												<li><i class="flaticon-star text-muted"></i></li>		
											</ul>
											<h6 class="m-b0">4.7</h6>
										</div>
										<div class="social-area">
											<ul class="dz-social-icon style-3">
												<li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="dz-body">
									<div class="book-detail">
										<ul class="book-info">
											<li>
												<div class="writer-info">
													<img src="{{ asset('site/images/author/no-photo.jpg') }}" alt="{{ book.title }}">
													<div>
														<span>Writen by</span>{% for author in book.author %}
                                                    {{ author }}
                                                    {% if not loop.last %}, {% endif %}
                                                {% endfor %}
													</div>
												</div>
											</li>
											<li><span>Publisher</span>{{ book.publisher }}</li>
											<li><span>Categories</span>{% for category in book.category %}
                                                    {{ category }}
                                                    {% if not loop.last %}, {% endif %}
                                                {% endfor %}</li>
										</ul>
									</div>
									{{ book.description | raw }}
									<div class="book-footer">
										<div class="price">
											<h5>KSh {{ book.cost | number_format }}</h5>
											<p class="p-lr10">KSh {{ book.cost * 1.15 }}</p>
										</div>
											{{ form_start(form, {'attr': {'id': 'addToCartForm', 'class': 'product-num'}}) }}
												<div class="quantity btn-quantity style-1 me-3">
													{{ form_widget(form.quantity, {
														'attr': {
															'class': 'form-input ' ~ (form.quantity.vars.valid ? '' : 'is-invalid'),
															'value': "1",
															'min': "1",
															'max': "1000",
														}
													}) }}
													<div class="invalid-feedback">
														{{ form_errors(form.quantity) }}
													</div>
												</div>
												{{ form_widget(form.add, {'attr': {'class': 'btn btn-primary btnhover2'}}) }}
												{{ form_widget(form.addNBuy, {'attr': {'class': 'btn btn-info btnhover2', 'style': 'margin-left:5px!important;'}}) }}
												<a style="display:none;margin-top:0px;margin-left:5px!important;" id="goToCartButton" class="btn btn-success btnhover2" href="/cart">View Cart</a>
											{{ form_end(form) }}
											{# <div class="bookmark-btn style-1 d-none d-sm-block"> #}
												{# <input class="form-check-input" type="checkbox" id="flexCheckDefault1">
												<label class="form-check-label" for="flexCheckDefault1">
													<i class="flaticon-heart"></i>
												</label> #}
											{# </div> #}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xl-8">
						<div class="product-description tabs-site-button">
                            <ul class="nav nav-tabs">
                                <li><a data-bs-toggle="tab" href="#graphic-design-1" class="active">Book Details</a></li>
                                <li><a data-bs-toggle="tab" href="#developement-1">Customer Reviews</a></li>
                            </ul>
							<div class="tab-content">
								<div id="graphic-design-1" class="tab-pane show active">
                                    <table class="table border book-overview">
                                        <tr>
                                            <th>Book Title</th>
                                            <td>{{ book.title }}</td>
                                        </tr>
                                        <tr>
                                            <th>Author</th>
                                            <td>{% for author in book.author %}
                                                    {{ author }}
                                                    {% if not loop.last %}, {% endif %}
                                                {% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <th>ISBN</th>
                                            <td>{{ book.isbn }}</td>
                                        </tr>
										<tr>
                                            <th>Editon Language</th>
                                            <td>{{ book.language }}</td>
                                        </tr>
                                        <tr>
                                            <th>Book Format</th>
                                            <td>{{ book.format }}</td>
                                        </tr>
										<tr>
                                            <th>Publisher</th>
                                            <td>{{ book.publisher }}.</td>
                                        </tr>
                                        <tr class="tags">
                                            <th>Categories</th>
                                            <td>
                                                {% for category in book.category %}
                                                    <a href="javascript:void(0);" class="badge">{{ category }}</a>
                                                {% endfor %}
											</td>
                                        </tr>
                                    </table>
                                </div>
								<div id="developement-1" class="tab-pane">
                                    <div class="clear" id="comment-list">
										{# <div class="post-comments comments-area style-1 clearfix">
											<h4 class="comments-title">4 COMMENTS</h4>
											<div id="comment">
												<ol class="comment-list">
													<li class="comment even thread-even depth-1 comment" id="comment-2">
														<div class="comment-body">
														  <div class="comment-author vcard">
																<img src="{{ asset('site/images/profile4.jpg') }}" alt="" class="avatar"/>
																<cite class="fn">Michel Poe</cite> <span class="says">says:</span>
																<div class="comment-meta">
																	<a href="javascript:void(0);">December 28, 2022 at 6:14 am</a>
																</div>
														  </div>
													  <div class="comment-content dlab-page-text">
														 <p>Donec suscipit porta lorem eget condimentum. Morbi vitae mauris in leo venenatis varius. Aliquam nunc enim, egestas ac dui in, aliquam vulputate erat.</p>
													  </div>
													  <div class="reply">
														 <a rel="nofollow" class="comment-reply-link" href="javascript:void(0);"><i class="fa fa-reply"></i> Reply</a>
													  </div>
												   </div>
												   <ol class="children">
													  <li class="comment byuser comment-author-w3itexpertsuser bypostauthor odd alt depth-2 comment" id="comment-3">
														 <div class="comment-body" id="div-comment-3">
															<div class="comment-author vcard">
															   <img src="{{ asset('site/images/profile3.jpg') }}" alt="" class="avatar"/>
															   <cite class="fn">Celesto Anderson</cite> <span class="says">says:</span>
															   <div class="comment-meta">
																  <a href="javascript:void(0);">December 28, 2022 at 6:14 am</a>
															   </div>
															</div>
															<div class="comment-content dlab-page-text">
															   <p>Donec suscipit porta lorem eget condimentum. Morbi vitae mauris in leo venenatis varius. Aliquam nunc enim, egestas ac dui in, aliquam vulputate erat.</p>
															</div>
															<div class="reply">
															   <a class="comment-reply-link" href="javascript:void(0);"><i class="fa fa-reply"></i> Reply</a>
															</div>
														 </div>
													  </li>
												   </ol>
												</li>
												<li class="comment even thread-odd thread-alt depth-1 comment" id="comment-4">
												   <div class="comment-body" id="div-comment-4">
													  <div class="comment-author vcard">
														 <img src="{{ asset('site/images/profile2.jpg') }}" alt="" class="avatar"/>
														 <cite class="fn">Ryan</cite> <span class="says">says:</span>
														 <div class="comment-meta">
															<a href="javascript:void(0);">December 28, 2022 at 6:14 am</a>
														 </div>
													  </div>
													  <div class="comment-content dlab-page-text">
														 <p>Donec suscipit porta lorem eget condimentum. Morbi vitae mauris in leo venenatis varius. Aliquam nunc enim, egestas ac dui in, aliquam vulputate erat.</p>
													  </div>
													  <div class="reply">
														 <a class="comment-reply-link" href="javascript:void(0);"><i class="fa fa-reply"></i> Reply</a>
													  </div>
												   </div>
												</li>
												<li class="comment odd alt thread-even depth-1 comment" id="comment-5">
												   <div class="comment-body" id="div-comment-5">
													  <div class="comment-author vcard">
														 <img src="{{ asset('site/images/profile1.jpg') }}" alt="" class="avatar"/>
														 <cite class="fn">Stuart</cite> <span class="says">says:</span>
														 <div class="comment-meta">
															<a href="javascript:void(0);">December 28, 2022 at 6:14 am</a>
														 </div>
													  </div>
													  <div class="comment-content dlab-page-text">
														 <p>Donec suscipit porta lorem eget condimentum. Morbi vitae mauris in leo venenatis varius. Aliquam nunc enim, egestas ac dui in, aliquam vulputate erat.</p>
													  </div>
													  <div class="reply">
														 <a rel="nofollow" class="comment-reply-link" href="javascript:void(0);"><i class="fa fa-reply"></i> Reply</a>
													  </div>
												   </div>
												</li>
											 </ol>
										  </div>
										  <div class="default-form comment-respond style-1" id="respond">
											 <h4 class="comment-reply-title" id="reply-title">LEAVE A REPLY <small> <a rel="nofollow" id="cancel-comment-reply-link" href="javascript:void(0)" style="display:none;">Cancel reply</a> </small></h4>
											 <div class="clearfix">
												<form method="post" id="comments_form" class="comment-form" novalidate>
												   <p class="comment-form-author"><input id="name" placeholder="Author" name="author" type="text" value=""></p>
												   <p class="comment-form-email"><input id="email" required="required" placeholder="Email" name="email" type="email" value=""></p>
												   <p class="comment-form-comment"><textarea id="comments" placeholder="Type Comment Here" class="form-control4" name="comment" cols="45" rows="3" required="required"></textarea></p>
												   <p class="col-md-12 col-sm-12 col-xs-12 form-submit">
													  <button id="submit" type="submit" class="submit btn btn-primary filled">
													  Submit Now <i class="fa fa-angle-right m-l10"></i>
													  </button>
												   </p>
												</form>
											 </div>
										  </div>
									   </div> #}
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 mt-5 mt-xl-0">
						<div class="widget">
							<h3 class="widget-title">Related Books</h3>
							<div class="row">
							{% for book in related_books %}
								<div class="col-xl-12 col-lg-6">
									<div class="dz-shop-card style-5">
										<div class="dz-media">
											<a href="{{ path('show_book', {'slug': book.slug} ) }}"><img src="{{ asset('site/images/books/' ~ book.image ) }}" alt=""></a>
										</div>
										<div class="dz-content">
											<a href="{{ path('show_book', {'slug': book.slug} ) }}"><h4 class="subtitle">{{ book.title }}</h4></a>
											<ul class="dz-tags">
											{% for category in book.category %}
                                                   <li>{{ category|upper }}{% if not loop.last %}, {% endif %}</li>
                                                {% endfor %}
											</ul>
											<div class="price">
												<span class="price-num">KSh {{ book.cost | number_format }}</span>
												<del>KSh {{ book.cost * 1.15 }}</del>
											</div>
											<a href="{{ path('show_book', {'slug': book.slug } ) }}" class="btn btn-outline-primary btn-sm btnhover2"><i class="flaticon-shopping-cart-1 me-2"></i> Add to cart</a>
										</div>
									</div>
								</div>
							{% endfor %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
        {% include ('sections/clients.html.twig') %}
		
        {% include ('sections/feature.html.twig') %}
		
        {% include ('sections/subscribe.html.twig') %}
        
	</div>

{% endblock %}
{% block javascripts_bottom %}
<script>

document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        slidesPerView: 5, // Number of slides visible at the same time
        spaceBetween: 10, // Space between slides in pixels
        loop: false, // Enable continuous loop mode
        breakpoints: {
            // Adjust the number of slides visible for different screen sizes
            640: {
                slidesPerView: 5,
                spaceBetween: 10,
            },
            768: {
                slidesPerView: 5,
                spaceBetween: 10,
            },
            1024: {
                slidesPerView: 5,
                spaceBetween: 10,
            },
        }
    });
});

function changeImage(src) {
    document.getElementById('currentImage').src = src;
}
</script>
<script>
    $(document).ready(function () {
        $('button[id^="cartProd_"]').on('click', function () {
            var formId = $(this).closest('form').attr('id');
            var productId = formId.split('-')[1];
            var clickedButton = $('#' + formId + ' button').attr('name');
            console.log(formId);
            console.log(productId);
            console.log(clickedButton);
            $.ajax({
                type: 'POST',
                url: "{{path('add_product_to_cart_index') }}",
                data: {
                    product_id: productId,
                    clickedButton: clickedButton
                },
                success: function (response) {
                    console.log(response);
                    // Handle the response, update the cart UI, etc.
                    if (response.status === 'success') {
                        // Update total products and total price in your UI
                        window.location.href = '/cart';
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('#addToCartForm').submit(function(event) {
            event.preventDefault();

            var clickedButton = $(event.target).find('button[type="submit"]:focus');
            var buttonName = clickedButton.attr('name');

            // Your AJAX logic here
            var formData = new FormData($(this)[0]);

            formData.append('clickedButton', buttonName);

            console.log(formData);

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    // Handle the JSON response
                    if (data.status === 'success') {

                        if (data.message === 'addNBuy') {
                            // Redirect to a location
                            window.location.href = '/checkout';
                        } else {

                            // Hide the #add_to_cart_addNBuy button
                            $("#add_to_cart_addNBuy").hide();
                            
                            // Change background color of #add_to_cart_add to green
                            $("#add_to_cart_add").css('background-color', 'green');

                            // Change text in $("#add_to_cart_add") to 'Added To Cart'
                            $("#add_to_cart_add").text('Added To Cart');
                            
                            // Optionally, you can add additional styling or disable the button
                            $("#add_to_cart_add").prop('disabled', true);
                            $("#goToCartButton").show();
                            
                            // Show your modal here if needed
                            console.log('Added to cart');

                            var updatedCartData = {
                                totalProducts: data.totalBooks,
                                totalPrice: data.totalPrice,
                                products: data.books
                            };

                            // Update the cart content based on the updated data
                            updateCartContent(updatedCartData);

                            function updateCartContent(data) {
                                // Update the total products and total price
                                $('.badge').text(data.totalProducts);
                                $('.total-price-cart').eq(1).text(data.totalPrice);

                                // Remove existing product items
                                $('.cart-list .cart-item').remove();

                                // Loop through the products and update the content
								for (var i = 0; i < data.products.length; i++) {
									var product = data.products[i];
									var productHTML = '<li class="cart-item">' +
										'<div class="media">' +
										'<div class="media-left">' +
										'<a href="/product/' + product.slug + '">' +
										'<img alt="" class="media-object" src="/site/images/books/' + product.images + '">' +
										'</a>' +
										'</div>' +
										'<div class="media-body">' +
										'<h6 class="dz-title"><a href="/product/' + product.slug + '" class="media-heading">' + product.name + '</a></h6>' +
										'<span class="dz-price">Qty: ' + product.quantity + ' Total: ' + product.total + '</span>' +
										'<span class="item-close">&times;</span>' +
										'</div>' +
										'</div>' +
										'</li>';
									$('.cart-list').prepend(productHTML);
								}
                            }


                            // Optionally, you can redirect the user or do other actions
                        }
                        } else {
                        // Handle other cases (e.g., error)
                        console.log('Error adding to cart'); // Replace with your error handling logic
                        console.log(data);
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                    alert('An error occurred'); // Replace with your error handling logic
                }
            });
        });
    });
</script>


{% endblock %}