{% extends 'base.html.twig' %}

{% block title %}Blog - Health Tips from Home Health Education Service{% endblock %}

{% block body %}

    <div class="page-content">

        <!-- inner page banner -->
        <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
            style="{{ render_background_image('vision-image', '/site/images/background/bg3.jpg') }}">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>{{ render_content('blog-index-h1', 'Home Health Tips from Home Health Education Service') }}</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
                            <li class="breadcrumb-item">Articles</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- inner page banner End-->
        <!-- Blog Large -->
        <section class="content-inner-1 bg-img-fix">
            <div class="container">
                <div class="row">
                {% for post in blogPosts %}
                    <div class="col-xl-6 col-lg-6">
                        <div class="dz-blog style-1 bg-white m-b30">
                            <div class="dz-media dz-img-effect zoom">
                                <a href="{{ path('blog_show', {'blog_slug': post.slug} ) }}"><img src="{{ asset('/site/images/blog/' ~ post.featuredImage ) }}" alt="{{ post.title }}"></a>
                            </div>
                            <div class="dz-info">
                                <h4 class="dz-title">
                                    <a href="{{ path('blog_show', {'blog_slug': post.slug} ) }}">{{ post.title }}</a>
                                </h4>
                                <p class="m-b0">{{ post.metaDescription }}</p>
                                <div class="dz-meta meta-bottom">
                                    <ul class="border-0 pt-0">
                                        <li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>{{ post.publicationDate|date('d F, Y')}}</li>
                                        <li class="post-author"><i class="far fa-user fa-fw m-r10"></i>By <a href="javascript:void(0);"> {{ post.author.fullname }}</a></li>
                                        <li class="post-comment"><a href="javascript:void(0);"><i class="far fa-comment-alt fa-fw"></i><span>{{ post.comments|length }}</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <nav aria-label="Blog Pagination">
                    <ul class="pagination text-center style-1 p-t20">
                        {% if currentPage > 1 %}
                            <li class="page-item"><a class="page-link prev" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': currentPage - 1})) }}">Prev</a></li>
                        {% endif %}
                        {% for i in 1..totalPages %}
                            <li class="page-item {% if i == currentPage %}active{% endif %}"><a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i})) }}">{{ i }}</a></li>
                        {% endfor %}
                        {% if currentPage < totalPages %}
                            <li class="page-item"><a class="page-link next" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': currentPage + 1})) }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
        </section>
    
    </div>

{% endblock %}
{% block javascripts_bottom %}
{% endblock %}