{% extends 'base.html.twig' %}

{% block title %}{{ blogPost.title }}{% endblock %}
{% block stylesheets %}
<style>

    h2 {
        font-size:1.2em;
    }

</style>
{% include ('sections/article-json-ld.html.twig') %}
{% endblock %}
{% block body %}

    <div class="page-content">

	<div class="page-content">
		<!-- inner page banner -->
		<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url({{ asset('site/images/background/bg3.jpg') }});">
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<h1>{{ blogPost.title }}</h1>
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
							<li class="breadcrumb-item">Blog Content</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- inner page banner End-->
		<!-- Blog Large -->
		<section class="content-inner-1 bg-img-fix">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 col-lg-8">
						<!-- blog start -->
						<div class="dz-blog blog-single style-1">
							<div class="dz-media rounded-md">
								<img src="{{ asset('site/images/blog/' ~ blogPost.featuredImage) }}" alt="{{ blogPost.title }}">
							</div>
							<div class="dz-info">
								<div class="dz-meta  border-0 py-0 mb-2">
									<ul class="border-0 pt-0">
										<li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>{{ blogPost.publicationDate|date('d F, Y')}}</li>
										<li class="post-author"><i class="far fa-user fa-fw m-r10"></i>By <a href="javascript:void(0);"> {{ blogPost.author.fullname }}</a></li>
									</ul>
								</div>
                                <div id="table-of-contents"></div>
								{{ blogPost.content | render_books }}
								<div class="dz-meta meta-bottom border-top">
									<div class="post-tags">
											<strong>Tags:</strong>
                                            {% for tag in blogPost.tags %} 
											    <a href="javascript:void(0);">{{tag.tagName}}</a>,                                                
                                            {% endfor %}
										</div>
									<div class="dz-social-icon primary-light">
										<ul>
											<li><a class="fab fa-facebook-f" href="javascript:void(0);"></a></li>
											<li><a class="fab fa-instagram" href="javascript:void(0);"></a></li>
											<li><a class="fab fa-twitter" href="javascript:void(0);"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="row extra-blog style-1">
							<div class="col-lg-12">
								<h4 class="blog-title">LATEST BLOGS</h4>
							</div>
                        {% for blogPost in latestBlogPosts %}
							<div class="col-lg-6 col-md-6">
								<div class="dz-blog style-1 bg-white m-b30">
									<div class="dz-media">
										<a href="{{ path('blog_show', {'blog_slug': blogPost.slug } ) }}"><img src="{{ asset('site/images/blog/' ~ blogPost.featuredImage) }}" alt="{{ blogPost.title }}"></a>
									</div>
									<div class="dz-info">
										<h5 class="dz-title">
											<a href="{{ path('blog_show', {'blog_slug': blogPost.slug } )}}">{{ blogPost.title }}</a>
										</h5>
										<p class="m-b0">{{ blogPost.metaDescription|slice(0, 165) }}</p>
										<div class="dz-meta meta-bottom">
											<ul class="">
												<li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>{{ blogPost.publicationDate|date('d F, Y')}}</li>
												<li class="post-author"><i class="far fa-user fa-fw m-r10"></i>By <a href="javascript:void(0);"> {{ blogPost.author.fullname }}</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
                        {% endfor %}
						</div>
                        <div class="clear" id="comment-list">
                            <div class="post-comments comments-area style-1 clearfix">
                                <h4 class="comments-title">{{ commentsArray|length }} COMMENTS</h4>
                                <div id="comment">
                                    <ol class="comment-list">
                                        {% for comment in commentsArray %}
                                        <li class="comment even thread-even depth-1 comment" id="comment-{{ comment.id }}">
                                            <div class="comment-body">
                                                <div class="comment-author vcard">
                                                {% set profPic = comment.user.profilePicture is empty ? 'user.jpg' : comment.user.profilePicture %}
                                                    <img src="/site/images/profile_pictures/{{ profPic }}" alt="{{ comment.user.fName }}" class="avatar"/>
                                                    <cite class="fn">{{ comment.user.fName }}</cite> <span class="says">says:</span>
                                                    <div class="comment-meta">
                                                        <a href="javascript:void(0);">{{ comment.commentDate|date('Y-m-d H:i:s') }}</a>
                                                    </div>

                                                </div>
                                                <div class="comment-content dz-page-text">
                                                    <p>{{ comment.content }}</p>
                                                </div>
                                                <div class="reply">
                                                    {% if is_granted('ROLE_USER') %}
                                                        <button type="button" id="show_edit_comment_form_{{comment.id}}" class="comment-reply-link btn btn-sm btn-primary"><i class="fa fa-edit"></i> EDIT</button>
                                                        <form action="{{ path('delete_comment', {'comment_id': comment.id }) }}" method="post" style="display:inline;">
                                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                            <button type="submit" class="comment-reply-link btn btn-sm btn-primary"><i class="fa fa-trash"></i> Delete</button>
                                                        </form>
                                                        <a rel="nofollow" class="comment-reply-link" href="javascript:void(0);" onclick="document.getElementById('reply_to_{{comment.id}}').style.display='block';"><i class="fa fa-reply"></i> Reply</a>
                                                    {% else %}
                                                        <p>Please log in to reply or edit</p>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <!-- Edit Comment Form -->
                                            <form id="edit_comment_form_{{ comment.id }}" action="{{ path('edit_comment', {'comment_id': comment.id }) }}" method="post" style="display:none;">
                                                <textarea class="form-control" name="comment">{{ comment.content }}</textarea>
                                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                <button type="submit" class="btn btn-info btn-sm">UPDATE</button>
                                            </form>

                                            <!-- Reply Form -->
                                            {% if is_granted('ROLE_USER') %}
                                            <form id="reply_to_{{comment.id}}" action="{{ path('comment_reply') }}" method="post" style="display:none;">
                                                <div class="form-wrap">
                                                    <label class="form-label" for="reply_to_{{comment.id}}">Reply</label>
                                                    <textarea class="form-control textarea-lg" id="reply_to_{{comment.id}}" name="reply" data-constraints="@Required"></textarea>
                                                    <input type="hidden" name="comment_id" value="{{comment.id}}">
                                                    <button class="btn btn-sm btn-primary mt-2" type="submit">Send Reply</button>
                                                </div>
                                            </form>
                                            {% endif %}

                                            <!-- Nested Replies -->
                                            <ol class="children">
                                                {% for reply in comment.commentReplies %}
                                                <li class="comment byuser comment-author-w3itexpertsuser bypostauthor odd alt depth-2 comment" id="comment-{{ reply.id }}">
                                                    <div class="comment-body">
                                                        <div class="comment-author vcard">
                                                        {% set profPic = reply.user.profilePicture is empty ? 'user.jpg' : reply.user.profilePicture %}
                                                            <img src="/site/images/profile_pictures/{{ profPic }}" alt="{{ reply.user.fName }}" class="avatar"/>
                                                            <cite class="fn">{{ reply.user.fName }}</cite> <span class="says">says:</span>
                                                            <div class="comment-meta">
                                                                <a href="javascript:void(0);">{{ reply.repliedOn|date('Y-m-d H:i:s') }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="comment-content dz-page-text">
                                                            <p>{{ reply.content }}</p>
                                                        </div>
                                                        <div class="reply">
                                                            {% if is_granted('ROLE_USER') %}
                                                                <button type="button" id="show_edit_reply_form_{{reply.id}}" class="comment-reply-link btn btn-sm btn-primary"><i class="fa fa-edit"></i> EDIT</button>
                                                                <form action="{{ path('delete_reply', {'reply_id': reply.id}) }}" method="post" style="display:inline;">
                                                                    <input type="hidden" name="reply_id" value="{{ reply.id }}">
                                                                    <button type="submit" class="comment-reply-link btn btn-sm btn-primary"><i class="fa fa-trash"></i> Delete</button>
                                                                </form>
                                                            {% else %}
                                                                <p>Please log in to edit</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <!-- Edit Reply Form -->
                                                    <form id="edit_reply_form_{{reply.id}}" action="{{ path('edit_reply', {'reply_id': reply.id}) }}" method="post" style="display:none;">
                                                        <textarea class="form-control" name="reply">{{ reply.content }}</textarea>
                                                        <input type="hidden" name="reply_id" value="{{ reply.id }}">
                                                        <button type="submit" class="btn btn-sm btn-primary">Edit</button>
                                                    </form>
                                                </li>
                                                {% endfor %}
                                            </ol>
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                
                                <!-- Comment Form -->
                                {% if is_granted('ROLE_USER') %}
                                <div class="default-form comment-respond style-1" id="respond">
                                    <h4 class="comment-reply-title" id="reply-title">LEAVE A REPLY <small> <a rel="nofollow" id="cancel-comment-reply-link" href="javascript:void(0)" style="display:none;">Cancel reply</a> </small></h4>
                                    <div class="clearfix">
                                        <form method="post" action="{{ path('post_comment') }}" class="comment-form" id="comments_form" novalidate>
                                            <p class="comment-form-comment">
                                                <label for="comment">Comment</label>
                                                <textarea id="comment" placeholder="Type Comment Here" class="form-control4" name="comment" cols="45" rows="3" required="required"></textarea>
                                            </p>
                                            <input type="hidden" name="blog_id" value="{{ blogPost.id }}">
                                            <p class="col-md-12 col-sm-12 col-xs-12 form-submit">
                                                <button id="submit" type="submit" class="submit btn btn-primary btnhover3 filled">
                                                    Submit Now <i class="fa fa-angle-right m-l10"></i>
                                                </button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                {% else %}
                                <p>Please log in to comment</p>
                                {% endif %}
                            </div>
                        </div>

						<!-- blog END -->
					</div>
					<div class="col-xl-4 col-lg-4">
						<aside class="side-bar sticky-top">
							<div class="widget">
								<div class="search-bx">
									<form role="search" method="post">
										<div class="input-group">
											<input name="text" class="form-control" placeholder="Search" type="text">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-primary "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
											</span> 
										</div>
									</form>
								</div>
							</div>
							<div class="widget widget_categories">
								<h4 class="widget-title">Category</h4>
								<ul>
                                {% for category in blogCategories %}
									<li class="cat-item cat-item-26"><a href="{{ path('app_blog', {'category': category.slug }) }}">{{ category }}</a> (3)</li>                                         
                                {% endfor %}
								</ul>
							</div>
							<div class="widget recent-posts-entry">
								<h4 class="widget-title">Featured Posts</h4>
								<div class="widget-post-bx">
                                {% for post in blogPosts %}
									<div class="widget-post clearfix">
										<div class="dz-media"> 
											<a href="{{ path('blog_show', {'blog_slug': post.slug} ) }}"><img src="{{ asset('site/images/blog/' ~ post.featuredImage) }}" alt="{{ post.title }}"></a>
										</div>
										<div class="dz-info">
											<h6 class="title"><a href="{{ path('blog_show', {'blog_slug': post.slug} ) }}">{{ post.title }}</a></h6>
											<div class="dz-meta">
												<ul>
													<li class="post-date"> {{ post.publicationDate|date('d F, Y') }} </li>
												</ul>
											</div>
										</div>
									</div>
                                {% endfor %}

								</div>
							</div>
							<div class="widget widget_tag_cloud">
								<h4 class="widget-title">Tags</h4>
								<div class="tagcloud"> 
                                {% for tag in tags %}
									<a href="javascript:void(0);">{{ tag }}</a>
                                {% endfor %}
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</section>
		<!-- Feature Box -->
	</div>


    </div>

{% endblock %}
{% block javascripts_bottom %}
{% endblock %}