{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{name}}</h1>
      <p class="lead">We have received your message and we will get back to you as soon as possible.</p>
      <p>You can call us on working days during working hours on +254 723 819944. </p>
      <p>Thank you for choosing Home Health Education Service. </p>
      <callout class="primary">
        <p>You can reply to this email.</p>
      </callout>

    </columns>
  </row>

{% endblock %}