    <!--Our Mission Section-->
    <section class="content-inner overlay-white-middle">
        <div class="container">
            <div class="row about-style1 align-items-center">
                <div class="col-lg-6 m-b30">
                    <div class="row sp10 about-thumb">
                        <div class="col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            <div class="split-box">
                                <div>
                                    {{ render_image('about-image-top-1', '/site/images/about/about1.jpg', 'About Us') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="split-box ">
                                <div>
                                    {# <img class="m-b20 aos-item" src="{{ asset('site/images/about/about2.jpg') }}" alt="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500"> #}
                                    {{ render_image('about-image-top-2', '/site/images/about/about2.jpg', 'About Us') }}
                                </div>
                            </div>
                            <div class="exp-bx aos-item"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                                <div class="exp-head">
                                    <div class="counter-num">
                                        <h2><span class="counter">{{ render_content('no-of-years', '50') }}</span><small>+</small></h2>
                                    </div>
                                    <h6 class="title">{{ render_content('doing-what', 'Years Changing Lives') }}</h6>
                                </div>
                                <div class="exp-info">
                                    <ul class="list-check primary">
                                        <li>{{ render_content('about-list-item-1', 'Values education') }}</li>
                                        <li>{{ render_content('about-list-item-2', 'Food and nutrition') }}</li>
                                        <li>{{ render_content('about-list-item-3', 'General health') }}</li>
                                        <li>{{ render_content('about-list-item-4', 'Natural healing') }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                    <div class="about-content px-lg-4">
                        <div class="section-head style-1">
                            <h2 class="title">{{ render_content('about-heading-2', 'Reason We Do What We Do') }}</h2>
                            <p>{{ render_content('about-sentence-1', 'At the Home Health Education Service, our mission is to empower families in Kenya with the knowledge and resources to lead healthier, more harmonious lives. ') }}</p>
                            <p>{{ render_content('about-sentence-2', 'In an age marked by diseases and disorder, we believe that order, health, and well-being can still prevail. ') }}</p>
                            <p>{{ render_content('about-sentence-3', 'Our goal is to provide you with the tools you need to build a better, more informed life for yourself and your loved ones.') }}</p>
                        </div>
                        <a href="{{ path('app_contact') }}" class="btn btn-primary btnhover shadow-primary">{{ render_content('about-section-1-cta', 'Contact Us') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
