<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "Article",
  "@id": "https://www.wikidata.org/wiki/Q191067",
  "headline": "{{ blogPost.title }}",
  "alternateName": "{{ blogPost.metaTitle }}",
  "url": "https://gybird.co.ke/post/{{ blogPost.slug }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.wikidata.org/wiki/Q36774"
  },
  "image": "https://gybird.co.ke/site/images/blog_images/{{ blogPost.featuredImage }}",
  "author": {
    "@type": "Person",
    "name": "{{ blogPost.author }}",
    "url": "https://gybird.co.ke"
  },
  "genre": "{{ blogPost.blogCategories | first . categoryName }}",
  "keywords": "{{ blogPost.title }}",
  "datePublished": "{{ blogPost.publicationDate|date('Y-m-d\\TH:i:sP') }}",
  "description": "{{ blogPost.metaDescription }}",
  "articleBody": "{{ blogPost.content }}"
}
 </script>