    <!--Swiper Banner Start -->
    <div class="main-slider style-1 text-white"> 
        <div class="main-swiper">
            <div class="swiper-wrapper">
            {% for banner in banners %}
                <div class="swiper-slide bg-blue" style="background-image: url({{ asset('site/images/background/hhes_bg2.jpg') }});">
                    <div class="container">
                        <div class="banner-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="swiper-content">
                                        <div class="content-info">
                                            <h6 class="sub-title" data-swiper-parallax="-10">{{ render_content('banner-header', 'HHES Books') }} </h6>
                                            <h1 class="title mb-0" data-swiper-parallax="-20">{{ banner.title }}</h1>
                                            <ul class="dz-tags" data-swiper-parallax="-30">
                                                <li><a href="javascript:void(0);">{% for author in banner.author %}
                                                    {{ author }}
                                                    {% if not loop.last %}, {% endif %}
                                                {% endfor %}</a></li>
                                                <li><a href="javascript:void(0);">{% for category in banner.category %}
                                                    {{ category }}
                                                    {% if not loop.last %}, {% endif %}
                                                {% endfor %}</a></li>
                                            </ul>
                                            <p class="text mb-0" data-swiper-parallax="-40">{{ banner.description|slice(0,200)|raw }}...</p>
                                            <div class="price" data-swiper-parallax="-50">
                                                <span class="price-num">KSh {{ banner.cost | number_format(2) }}</span>
                                                <del>KSh {{ (banner.cost * 1.15) | number_format(2) }}</del>
                                                <span class="badge badge-danger">15% OFF</span>
                                            </div>
                                            <div class="content-btn" data-swiper-parallax="-60">
                                                {# <form id="prodForm-{{banner.id}}" style="display: inline;">
                                                <input type="hidden" id="quantity_{{banner.id}}" value="1" style="display: none;">
                                                <button class="btn btn-primary btnhover" name="cartProd_{{banner.id}}" id="cartProd_{{banner.id}}" type="button">Buy Now</button>
                                                </form> #}
                                                <a class="btn btn-primary border btnhover ms-4 text-white" href="{{ path('show_book', {'slug': banner.slug}) }}">Buy Now</a>
                                                <a class="btn border btnhover ms-4 text-white" href="{{ path('show_book', {'slug': banner.slug}) }}">See Details</a>
                                            </div>
                                        </div>
                                        <div class="partner">
                                            <p class="text-white">{{ render_content('clients-heading', 'Our Clients') }}</p>
                                            <div class="brand-logo">
                                                <img style="width:112px;" src="{{ asset('site/images/partner/knls-logo.jpg') }}" alt="client">
                                                <img style="width:112px;" class="mid-logo" src="{{ asset('site/images/partner/uon-logo.jpg') }}" alt="client">
                                                <img style="width:112px;" src="{{ asset('site/images/partner/moi-t-logo.jpg') }}" alt="client">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="banner-media" data-swiper-parallax="-100">
                                        {# <img src="{{ asset('site/images/books/' ~ banner.image ) }}" alt="banner-media"> #}
                                        {{ render_image('banner-media-1', '/site/images/books/' ~ banner.image, 'HHES') }}
                                    </div>
                                    {# <img class="pattern" src="{{ asset('site/images/Group.png') }}" data-swiper-parallax="-100" alt="dots"> #}
                                    {{ render_image('vision-image', '/site/images/Group.jpg', 'dots', 'pattern') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="container swiper-pagination-wrapper">
                <div class="swiper-pagination-five"></div>
            </div>
        </div>
        <div class="swiper main-swiper-thumb text-light">
            <div class="swiper-wrapper">
            {% for book in banners %}
                <div class="swiper-slide">
                    <div class="books-card">
                        <div class="dz-media">
                            <img src="{{ asset('site/images/books/' ~ book.image ) }}" alt="{{ book.title }}">									
                        </div>
                        <div class="dz-content">
                            <h5 class="title mb-0">{{ book.title }}</h5>
                            <div class="dz-meta">
                                <ul>
                                    <li>by {% for author in book.author %}
                                                    {{ author }}
                                                    {% if not loop.last %}, {% endif %}
                                                {% endfor %}</li>
                                </ul>
                            </div>
                            <div class="book-footer">
                                <div class="price">
                                    <span class="price-num">KSh {{ book.cost | number_format(2) }}</span>
                                </div>
                                <div class="rate">
                                    <i class="flaticon-star text-yellow"></i>
                                    <i class="flaticon-star text-yellow"></i>
                                    <i class="flaticon-star text-yellow"></i>
                                    <i class="flaticon-star text-yellow"></i>
                                    <i class="flaticon-star text-yellow"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>		
    <!--Swiper Banner End-->
