    <!-- Latest News -->
    <section class="content-inner-2">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="title">{{ render_content('blog-posts-title', 'Tips on Home Health') }}</h2>
                <p>{{ render_content('blog-posts-intro', 'Practical health articles published regularly to make your home a healthier place to be, mentally, socially, physically and spiritually.') }}</p>
            </div>
            <div class="swiper-container blog-swiper">
                <div class="swiper-wrapper">
                {% for post in blogPosts %}
                    <div class="swiper-slide">
                        <div class="dz-blog style-1 bg-white m-b30 wow fadeInUp" data-wow-delay="0.1s" >
                            <div class="dz-media">
                                <a href="{{ path('blog_show', {'blog_slug': post.slug })}}"><img src="{{ asset('site/images/blog/' ~ post.featuredImage ) }}" alt="{{ post.title }}"></a>
                            </div>
                            <div class="dz-info p-3">
                                <h6 class="dz-title">
                                    <a href="{{ path('blog_show', {'blog_slug': post.slug })}}">{{ post.title }}</a>
                                </h6>
                                <p class="m-b0">{{ post.metaDescription|slice(0, 165) }}</p>
                                <div class="dz-meta meta-bottom mt-3 pt-3">
                                    <ul class="">
                                        <li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>{{ post.publicationDate|date('d F, Y')}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Latest News End -->
