    <!-- Children books -->
    <section class="content-inner-1 bg-grey reccomend">
        <div class="container">
            <div class="section-head text-center">
                <div class="circle style-1"></div>
                <h2 class="title"><a href="{{ path('app_shop', {'category': children_books|first.category[0].slug } ) }}">{{ render_content('children-books-title', 'Children Books') }}</a></h2>
                <p>{{ render_content('children-book-intro', 'We have children books for character building, educational books, bedtime stories, among other interactive books that will keep your child informed and inspired to learn.') }}</p>
                {# <p>We have encyclopaedias for education, health, therapies and medicinal plants. Get all information needed to keep your health in shape with readily available foods and plants around us.</p> #}
            </div>
        </div>
        <div class="container">
            <div class="swiper-container books-wrapper-2 swiper-three">
                <div class="swiper-wrapper">
                {% for book in children_books %}
                    <div class="swiper-slide">
                        <div class="books-card style-2">
                            <div class="dz-media">
                                <a href="{{ path('show_book', {'slug': book.slug}) }}"><img src="{{ asset('site/images/books/' ~ book.image ) }}" alt="book"></a>
                            </div>
                            <div class="dz-content">
                                <h6 class="sub-title">{{ render_content('book-slider-title', 'Children') }}</h6>
                                <a href="{{ path('show_book', {'slug': book.slug}) }}"><h2 class="title">{{ book.title|title }}</h2></a>
                                <ul class="dz-tags">
                                    <li>{% for author in book.author %}
                                                    {{ author }}
                                                    {% if not loop.last %}, {% endif %}
                                                    {% endfor %}</li>
                                    <li>{% for category in book.category %}
                                                    {{ category|upper }}
                                                    {% if not loop.last %}, {% endif %}
                                                {% endfor %}</li>
                                </ul>
                                <p class="text">{{ book.description|slice(0,200)|raw }}...</p>
                                <div class="price">
                                    <span class="price-num">KSh {{ book.cost | number_format(2) }}</span>
                                    <del>KSh {{ book.cost * 1.15 | number_format(2) }}</del>
                                    <span class="badge">15% OFF</span>
                                </div>
                                <div class="bookcard-footer">
                                    <form id="prodForm-{{book.id}}" style="display: inline;">
                                        <input type="hidden" id="quantity_{{book.id}}" value="1" style="display: none;">
                                        <button class="btn btn-primary btnhover m-t15" name="cartProd_{{book.id}}" id="cartProd_{{book.id}}" type="button">{{ render_content('buy-now-cta', 'Buy Now') }}</button>
                                    </form>
                                    <a href="{{ path('show_book', {'slug': book.slug}) }}" class="btn btn-outline-secondary btnhover m-t15">{{ render_content('see-details-cta', 'See Details') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>
                <div class="pagination-align style-2">
                    <div class="swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="swiper-pagination-three"></div>
                    <div class="swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Children books -->
    
