    <!-- Client Start-->
    <div class="bg-white py-5">
        <div class="container">
        <!--Client Swiper -->
            <div class="swiper client-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {{ render_image('kemri', '/site/images/client/kemri-logo.jpg', 'Kemri') }}
                    </div>
                    <div class="swiper-slide">
                        {{ render_image('ketraco', '/site/images/client/ketraco-logo.jpg', 'Ketraco') }}
                    </div>
                    <div class="swiper-slide">
                        {{ render_image('kisii-university', '/site/images/client/kisii-uni-logo.jpg', 'Kisii University') }}
                    </div>
                    <div class="swiper-slide">
                        {{ render_image('kpa', '/site/images/client/kpa-logo.jpg', 'Kenya Ports Authority') }}
                    </div>
                    <div class="swiper-slide">
                        {{ render_image('moe', '/site/images/client/moe-logo.jpg', 'Ministry of Energy') }}
                    </div>	
                </div>
            </div>
        </div>
    </div>
    <!-- Client End-->
