<section class="main-faq-content content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center mb-4">
                <div class="faq-content-box">
                    <div class="section-head">
                        <h2 class="title">{{ render_content('about-sec-2-title', 'How We Educate Homes') }}</h2>
                        <p>{{ render_content('about-sec-2-par-1', 'We achieve this by offering a diverse range of top-quality books that cover essential topics such as family health, child rearing, character building, psychology, family matters, and natural healing. ') }}</p>
                        <p>{{ render_content('about-sec-2-par-2', 'Our books are carefully curated to ensure they provide valuable insights and practical advice that can make a real difference in your daily life.') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1 mb-4">
                <div class="faq-img-box wow left-animation rounded-md" data-wow-delay="0.2s">
                    {{ render_image('about-image-1', '/site/images/about/pic2.jpg', 'About Us') }}
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="main-faq-content bg-light content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="faq-img-box rounded-md">
                    {{ render_image('about-image-2', '/site/images/about/pic2.jpg', 'About Us') }}
                </div>
            </div>
            <div class="col-lg-6 align-self-center mb-4">
                <div class="faq-content-box">
                    <div class="section-head">
                        <h2 class="title">{{ render_content('about-sec-3-title', 'Best Health Bookstore') }}</h2>
                        <p>{{ render_content('about-sec-3-par-1', 'To help you make informed choices, we provide previews of most of our books. ') }}</p>
                        <p>{{ render_content('about-sec-3-par-2', 'By clicking "Preview," you can explore the contents and determine if a book meets your needs.') }} </p>
                        <p>{{ render_content('about-sec-3-par-3', 'Once you find the perfect book, simply click "Purchase," fill in your details, and leave the rest to us.') }} </p>
                        <p>{{ render_content('about-sec-3-par-4', 'Our agents will deliver your chosen book to your office or home within three days, free of charge.') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-faq-content content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center mb-4">
                <div class="faq-content-box">
                    <div class="section-head">
                        <h2 class="title">{{ render_content('about-sec-4-title', 'What We sell') }}</h2>
                        <p>{{ render_content('about-sec-4-par-1', 'We offer an extensive selection of books on various subjects, including:') }}</p>
                        <ol>
                            <li>{{ render_content('about-sec-4-li-1', 'Parenting and relationships') }}</li>
                            <li>{{ render_content('about-sec-4-li-2', 'Stress management') }}</li>
                            <li>{{ render_content('about-sec-4-li-3', 'Children’s literature') }}</li>
                            <li>{{ render_content('about-sec-4-li-4', 'Inspirational topics') }}</li>
                        </ol>
                        <p>{{ render_content('about-sec-4-par-2', 'Our books are designed to inspire, educate, and transform lives. Whether for personal use, a church library, a school, or a university, our books are invaluable resources that contribute to a well-rounded, knowledgeable community.') }}</p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1 mb-4">
                <div class="faq-img-box wow left-animation rounded-md" data-wow-delay="0.2s">
                    {{ render_image('about-image-3', '/site/images/about/pic2.jpg', 'About Us') }}
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="main-faq-content bg-light content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="faq-img-box rounded-md">
                    {{ render_image('about-image-4', '/site/images/about/pic2.jpg', 'About Us') }}
                </div>
            </div>
            <div class="col-lg-6 align-self-center mb-4">
                <div class="faq-content-box">
                    <div class="section-head">
                        <h2 class="title">{{ render_content('about-sec-5-title', 'Who Needs These Books?') }}</h2>
                        <p>{{ render_content('about-sec-5-par-1', 'Everyone can benefit from our books. You, your family, your church, your school, and your university all need these life-changing resources.') }} </p>
                        <p>{{ render_content('about-sec-5-par-2', 'Our books are not just for your home library; they are essential for any institution dedicated to learning and personal development.') }}</p>
                        <p>{{ render_content('about-sec-5-par-3', 'At the Home Health Education Service, we believe that our books will not only meet your needs but exceed your expectations, helping you and your community thrive.') }}</p>                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
