<style>
    li {
        list-style: auto!important;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size:1.2em;
    }

</style>
    <!-- contact area -->
    <section class="content-inner shop-account">
        <!-- Product -->
        <div class="container">
        {% for county in counties %}
            <h2>{{ county }}</h2>
            <ol>
            {% for constituency in county.constituencies %}
                <li>{{ constituency }}</li>
            {% endfor %}
            </ol>
        {% endfor %}
        </div>
    </section>
        