	{% set vce = global_vars('vce') %}

    <div class="page-content">
        <div class="content-inner-2 pt-0">
            <div class="map-iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.260964372146!2d36.7627856!3d-1.2848067!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f19bc82605a79%3A0x33b61842623c7488!2sHome%20Health%20Education%20Service!5e0!3m2!1sen!2ske!4v1719251380062!5m2!1sen!2ske" style="border:0; width:100%; min-height:100%; margin-bottom: -8px;" allowfullscreen></iframe>
            </div>
        </div>
    
        <section class="contact-wraper1" style="background-image: url(images/background/bg2.jpg);">	
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="contact-info">
                            <div class="section-head text-white style-1">
                                <h2 class="title text-white">{{ render_content('contact-pg-h2', 'Get In Touch') }}</h2>
                                <p>{{ render_content('contact-pg-par-1', 'If you would like to get in touch with a Volunteer Community Educator, please reach out.') }}</p>
                            </div>
                            <ul class="no-margin">
                                <li class="icon-bx-wraper text-white left m-b30">
                                    <div class="icon-md">
                                        <span class="icon-cell text-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                        </span>
                                    </div>
                                    <div class="icon-content">
                                        <h5 class=" dz-tilte text-white">{{ render_content('contact-address-title', 'Our Address') }}</h5>
                                        <p>{% for constituency in vce.constituency %}
										{{ constituency }}, {{ constituency.county}} {% if not loop.last %}, {% endif %}
									    {% endfor %}</p>
                                    </div>
                                </li>
                                <li class="icon-bx-wraper text-white left m-b30">
                                    <div class="icon-md">
                                        <span class="icon-cell text-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        </span>
                                    </div>
                                    <div class="icon-content">
                                        <h5 class="dz-tilte text-white">{{ render_content('email-title', 'Email') }}</h5>
                                        <p>{{ vce.email }}</p>
                                    </div>
                                    <div class="icon-content">
                                        <h5 class="dz-tilte text-white">{{ render_content('phone-title', 'Phone') }}</h5>
                                        <p>{{ vce.phone }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 m-b40">
                        <div class="contact-area1 m-r20 m-md-r0">
                            <div class="section-head style-1">
                                <h6 class="sub-title text-primary">{{ render_content('contact-title-2', 'CONTACT US') }}</h6>
                                <h3 class="title m-b20">{{ render_content('send-message-title2', 'Get In Touch With Us') }}</h3>
                            </div>
                            {% include 'sections/contact_form.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {% include ('sections/feature.html.twig') %}
		
        {% include ('sections/subscribe.html.twig') %}

    </div>

