    <!-- Family books -->
    <section class="content-inner-1">
        <div class="container">
            <div class="section-head book-align">
                <h2 class="title mb-0"><a href="{{ path('app_shop', {'category': family_books|first.category[0].slug } ) }}">{{ render_content('family-books-title', 'Family Books') }}</a></h2>
                <div class="pagination-align style-1">
                    <div class="swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="swiper-pagination-two"></div>
                    <div class="swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                </div>
            </div>
            <div class="swiper-container books-wrapper-3 swiper-four">
                <div class="swiper-wrapper">
                {% for book in family_books %}
                    <div class="swiper-slide">
                        <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="dz-media">
                                <a href="{{ path('show_book', {'slug': book.slug}) }}"><img style="max-width:290px;height:300px;" src="{{ asset('site/images/books/' ~ book.image ) }}" alt="{{ book.title }}"></a>
                            </div>
                            <div class="dz-content">
                                <h5 class="title"><a href="{{ path('show_book', {'slug': book.slug}) }}">{{ book.title }}</a></h5></a>
                                <ul class="dz-tags">
                                {% for category in book.category %}
                                    <li><a href="#category_page">{{ category }}{% if not loop.last %}, {% endif %}</a></li>
                                {% endfor %}                                    
                                </ul>
                                <ul>
                                <del>KSh {{ book.cost * 1.15 | number_format(2) }}</del>
                                <span class="price-num">KSh {{ book.cost | number_format(2) }}</span>
                                </ul>
                                <div class="book-footer">
                                    <div class="rate" style="text-align:center;">
                                        <a class="btn btn-info m-t15 btnhover2" href="{{ path('show_book', {'slug': book.slug}) }}"><i class="fa fa-search"></i></a>
                                        <form id="prodForm-{{book.id}}" style="display: inline;">
                                            <input type="hidden" id="quantity_{{book.id}}" value="1" style="display: none;">
                                            <button class="btn btn-primary btnhover m-t15" name="cartProd_{{book.id}}" id="cartProd_{{book.id}}" type="button"><i class="fas fa-shopping-cart"></i></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Family books -->
