<style>
	h2 {
		font-size:1.4em;
		cursor:pointer;
	}
</style>
		<section class="main-faq-content content-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 align-self-center mb-4">
						<div class="faq-content-box">
							<div class="section-head">
								<h2 class="title">{{ render_content('faq-h2', 'About Home Health Education Service') }}</h2>
								<p>{{ render_content('faq-text-par-1', 'At the Home Health Education Service, our mission is to empower families in Kenya with the knowledge and resources to lead healthier, more harmonious lives.') }}</p>
								<p>{{ render_content('faq-text-par-2', 'In an age marked by diseases and disorder, we believe that order, health, and well-being can still prevail.') }}</p>
								<p>{{ render_content('faq-text-par-1', 'Our goal is to provide you with the tools you need to build a better, more informed life for yourself and your loved ones.') }}</p>
							</div>
							<div class="faq-accordion">
								<div class="accordion" id="accordionExample">
								{% for faq in faqs %}
									<div class="card">
										<div class="card-header" id="faq{{ faq.id }}">
											<h3 class="title" data-bs-toggle="collapse" data-bs-target="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapseOne"><span>{{ loop.index }}. {{ faq.question }}</span> <span class="icon"><i class="fa fa-angle-left" aria-hidden="true"></i></span></h3>
										</div>
										<div id="collapse{{ faq.id }}" class="collapse accordion-collapse" aria-labelledby="heading{{ faq.id }}" data-bs-parent="#accordionExample">
											<div class="card-body">
												{{ faq.answer|raw|striptags }}
											</div>
										</div>
									</div>
								{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 order-lg-2 order-1 mb-4">
						<div class="faq-img-box wow left-animation rounded-md" data-wow-delay="0.2s">
							<img src="/site/images/books/004-1734441814.jpg" alt="FAQ Image">
						</div>
					</div>
				</div>
				
			</div>
		</section>
