<style>

.dz-content h3 {
    font-size:1.5rem!important;
}


</style>

	<div class="page-content bg-grey">
		<section class="content-inner border-bottom">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2 class="title">{{ category is null ? 'All' : category }} Books</h2>
				</div>

                {% include "sections/shop_nav.html.twig" %}
				<!-- Footer Category -->
				<div class="footer-category" style="padding-top:0px!important;padding-bottom:10px!important;margin-top:-20px!important">
					<div class="container">
						<div class="category-toggle">
							<h3><a href="javascript:void(0);" class="toggle-btn">Browse Books categories</a></h3>
							<div class="toggle-items row">
                                <div class="footer-col-book">
                                    <ul>
                                    {% for category in categories %}
                                        <li><a href="{{ path('app_shop', {'category': category.slug, 'pref': userPref} ) }}">{{ category.name }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer Category End -->
				
				<div class="row book-grid-row">
                {% for book in books %}
					<div data-category="{% for category in book.category %}{{ category }}{% if not loop.last %},{% endif %}{% endfor %}" class="book-item col-book style-1">
						<div class="dz-shop-card style-1">
							<div class="dz-media">
								<a href="{{ path('show_book', {'slug': book.slug } ) }}"><img src="{{ asset('site/images/books/' ~ book.image ) }}" alt="{{ book.title }}"></a>
							</div>
							<div class="bookmark-btn style-2">
								<input class="form-check-input" type="checkbox" id="flexCheckDefault1">
								<label class="form-check-label" for="flexCheckDefault1">
									<i class="flaticon-heart"></i>
								</label>
							</div>
							<div class="dz-content">
								<h3 class="title"><a href="{{ path('show_book', {'slug': book.slug } ) }}">{{ book.title }}</a></h3>
								<ul class="dz-tags">
                                {% for category in book.category %}
                                    <li><a  href="{{ path('show_book', {'slug': book.slug } ) }}">{{ category|upper }}{% if not loop.last %}, {% endif %}</a></li>
                                {% endfor %}
								</ul>
								<div class="book-footer">
									<div class="price">
										<span class="price-num">KSh {{ book.cost | number_format }}</span>
										<del>KSh {{ book.cost * 1.15 }}</del>
									</div>
									<a href="{{ path('show_book', {'slug': book.slug } ) }}" class="btn btn-secondary box-btn btnhover2">Details</a>
									<form id="prodForm-{{book.id}}" style="display: inline;">
										<input type="hidden" id="quantity_{{book.id}}" value="1" style="display: none;">
										<button class="btn btn-secondary btnhover2" name="cartProd_{{book.id}}" id="cartProd_{{book.id}}" type="button"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</button>
									</form>
								</div>
							</div>
						</div>
					</div>
                {% endfor %}
				</div>
                <div class="row page mt-0">
                    <div class="col-md-6">
                        <p class="page-text">
                            {% set startItem = (currentPage - 1) * limit + 1 %}
                            {% set endItem = startItem + books|length - 1 %}
                            Showing {{ startItem }} to {{ endItem }} of {{ totalItems }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <nav aria-label="Blog Pagination">
                            <ul class="pagination style-1 p-t20">
                                {% if currentPage > 1 %}
                                    <li class="page-item">
                                        <a class="page-link prev" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': currentPage - 1, 'category': app.request.get('category'), 'pref': userPref})) }}">Prev</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link prev" href="javascript:void(0);">Prev</a>
                                    </li>
                                {% endif %}
                                
                                {% set range = 2 %}
                                {% set startPage = (currentPage - range > 0) ? currentPage - range : 1 %}
                                {% set endPage = (currentPage + range < totalPages) ? currentPage + range : totalPages %}
                                
                                {% if startPage > 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': 1, 'category': app.request.get('category'), 'pref': userPref})) }}">1</a>
                                    </li>
                                    {% if startPage > 2 %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="javascript:void(0);">...</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                
                                {% for page in startPage..endPage %}
                                    <li class="page-item {{ page == currentPage ? 'active' : '' }}">
                                        <a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': page, 'category': app.request.get('category'), 'pref': userPref})) }}">{{ page }}</a>
                                    </li>
                                {% endfor %}
                                
                                {% if endPage < totalPages %}
                                    {% if endPage < totalPages - 1 %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="javascript:void(0);">...</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': totalPages, 'category': app.request.get('category'), 'pref': userPref})) }}">{{ totalPages }}</a>
                                    </li>
                                {% endif %}
                                
                                {% if currentPage < totalPages %}
                                    <li class="page-item">
                                        <a class="page-link next" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': currentPage + 1, 'category': app.request.get('category'), 'pref': userPref})) }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link next" href="javascript:void(0);">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
		

	</div>

<script>

$(document).ready(function() {
  // Attach a change event listener to all checkboxes
  $('.form-check-input').change(function() {
    var selectedCategory = $(this).next().text().trim(); // Get the text from the label

    // Get all selected categories (assuming you can select multiple checkboxes)
    var selectedCategories = [];
    $('.form-check-input:checked').each(function() {
      selectedCategories.push($(this).next().text().trim());
    });

    // Hide all books initially (optional, can be removed if you prefer)
    // $('.book-item').hide();

    // Show books with matching categories (at least one match required)
    $('.book-item').each(function() {
      var bookCategories = $(this).data('category').split(','); // Assuming comma separated categories

      // Check if any selected category matches a book category
      var showBook = false;
      for (var i = 0; i < selectedCategories.length; i++) {
        if (bookCategories.indexOf(selectedCategories[i]) !== -1) {
          showBook = true;
          break; // Exit loop if a match is found
        }
      }

      // Show the book if there are no selected categories (all unchecked)
      // OR if there's a match between selected and book categories
      $(this).show();
      if (selectedCategories.length > 0 && !showBook) {
        $(this).hide();
      }
    });
  });
});


</script>
<script>
    $(document).ready(function () {
        $('button[id^="cartProd_"]').on('click', function () {
            console.log('clicked');
            var formId = $(this).closest('form').attr('id');
            var productId = formId.split('-')[1];
            var clickedButton = $('#' + formId + ' button').attr('name');
            console.log(formId);
            console.log(productId);
            console.log(clickedButton);
            $.ajax({
                type: 'POST',
                url: "{{path('add_product_to_cart_index') }}", // Replace with your actual controller action route
                data: {
                    product_id: productId,
                    clickedButton: clickedButton
                },
                success: function (response) {
                    console.log(response);
                    // Handle the response, update the cart UI, etc.
                    if (response.status === 'success') {
                        // Update total products and total price in your UI
                        window.location.href = '/cart';
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>

