    <!--Health Section Start-->
    <section class="content-inner-1 bg-grey reccomend">
        
        <div class="container">
            <div class="section-head text-center">
                <h2 class="title"><a href="{{ path('app_shop', {'category': health_books|first.category[0].slug } ) }}">{{ render_content('health-books-title', 'Health Books') }}</a></h2>
                <p>{{ render_content('health-books-intro', 'Explore a comprehensive collection of health books designed to support your journey to a healthier lifestyle. Improve your diet, discover new recipes, and boost your mental wellness.') }}</p>
            </div>
            <!-- Swiper -->
            <div class="swiper-container swiper-two">
                <div class="swiper-wrapper">
                {% for book in health_books %}
                    <div class="swiper-slide">
                        <div class="books-card style-1 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="dz-media">
                                <a href="{{ path('show_book', {'slug': book.slug}) }}"><img style="height:300px;max-width:290px;" src="{{ asset('site/images/books/' ~ book.image ) }}" alt="{{ book.title }}"></a>								
                            </div>
                            <div class="dz-content">
                                <a href="{{ path('show_book', {'slug': book.slug}) }}"><h4 class="title">{{ book.title|title }}</h4></a>
                                <span class="price">KSh {{ book.cost | number_format(2) }}</span>
                                <a class="btn btn-info m-t15 btnhover2" href="{{ path('show_book', {'slug': book.slug}) }}">Details</a>
                                <form id="prodForm-{{book.id}}" style="display: inline;">
                                    <input type="hidden" id="quantity_{{book.id}}" value="1" style="display: none;">
                                    <button class="btn btn-primary btnhover m-t15" name="cartProd_{{book.id}}" id="cartProd_{{book.id}}" type="button">+ Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--Health Section End-->
