<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Book",
  "name": "{{ book.title }}",
  "image": [
      "https://hheskenya.org/site/images/books/{{ book.image }}"
      {% if book.presentations | length > 0 %}, {% endif %}
      {% for bookImage in book.presentations %}
          "https://hheskenya.org/{{ bookImage.photoPath }}"
          {% if not loop.last %}, {% endif %}
      {% endfor %}
  ],
  "author": [
    {% for author in book.author %}
    {
      "@type": "Person",
      "name": "{{ author.name }}"
    }
    {% if not loop.last %}, {% endif %}
    {% endfor %}
  ],
  "description": "{{ book.description }}",
  "isbn": "{{ book.isbn }}",
  "sku": "{{ book.id }}",
  "offers": {
    "@type": "Offer",
    "url": "https://hheskenya.org/book/{{ book.slug }}",
    "priceCurrency": "KES",
    "price": {{ book.cost }},
    "availability": "https://schema.org/InStock"
  }
}
</script>
