    <!-- Parenting books -->
    <section class="content-inner-2">
        <div class="container">
            <div class="section-head book-align">
                <h2 class="title mb-0"><a href="{{ path('app_shop', {'category': parenting_books|first.category[0].slug } ) }}">{{ render_content('parenting-books-title', 'Parenting') }}</a></h2>
                <div class="pagination-align style-1">
                    <div class="book-button-prev swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="book-button-next swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                </div>
            </div>
            <div class="swiper-container book-swiper">
                <div class="swiper-wrapper">
                {% for book in parenting_books %}
                    <div class="swiper-slide">
                        <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="dz-media">
                                <a href="{{ path('show_book', {'slug': book.slug}) }}"><img style="width:100%;" src="{{ asset('site/images/books/' ~ book.image ) }}" alt="/"></a>
                            </div>
                            <div class="dz-info">
                                <h4 class="dz-title"><a href="{{ path('show_book', {'slug': book.slug}) }}">{{ book.title }}</a></h4>
                                <div class="dz-meta">
                                    <ul class="dz-tags">
                                    {% for category in book.category %}
                                        <li><a href="{{ path('show_book', {'slug': book.slug}) }}">{{ category|upper }}</a></li>
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                    </ul>
                                </div>
                                <p>{{ book.description | slice (0,100) | raw }}...</p>
                                <div class="bookcard-footer">
                                    <a class="btn btn-info m-t15 btnhover2" href="{{ path('show_book', {'slug': book.slug}) }}">Details</a>
                                    <form id="prodForm-{{book.id}}" style="display: inline;">
                                        <input type="hidden" id="quantity_{{book.id}}" value="1" style="display: none;">
                                        <button class="btn btn-primary btnhover m-t15" name="cartProd_{{book.id}}" id="cartProd_{{book.id}}" type="button">+ Cart</button>
                                    </form>
                                    <div class="price-details">
                                        KSh {{ book.cost | number_format(2) }} 
                                        {# <del>KSh {{ book.cost * 1.15 | number_format(2) }}</del> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!-- Parenting books -->
