		<div class="page-content">
			
			<!-- contact area -->
			<section class="content-inner-1 shop-account">
				<div class="container">
					<div class="row">
						<!-- Left part start -->
						<div class="col-lg-8 col-md-7 col-sm-12 inner-text">
							{% if page.featuredImage is not null %}
                                <div class="service-details-img mb-30">
                                    <img src="{{asset('site/images/page_images/' ~ page.featuredImage ) }}" alt="thumb">
                                </div>
                                <div id="table-of-contents" style="text-align:center;"></div>
							{% endif %}
							<h2 class="title">
                                {% if category is defined and category is not null and category.name is not null %}
                                    {# {{ category.name }} #}
                                {% else %}
                                    {{ page.heading }}
                                {% endif %}                            
                            </h2>
                            {% if category is defined and category is not null and category.description is not null %}
                                {{ category.description|raw }}
                            {% else %}
                                {{ page.pageContent|render_books }}
                            {% endif %}
						</div>
						<div class="col-lg-4 col-md-5 col-sm-12 m-b30 mt-md-0 mt-4">
							<aside class="side-bar sticky-top right">
								<div class="service_menu_nav widget style-1">
									<ul class="menu">
                                    {% if services is defined and services is not empty %}
                                    <h4 class="widget-title">All Services</h4>
                                        <div class="category-list">
                                        {% for service in services %}
                                            <li class="menu-item"><a href="{{path('app_page', {'page': service.url})}}">{{ service.heading }}</a></li>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
									</ul>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</section>
            <!-- Privacy Policy END -->
		</div>


