		<!-- Newsletter -->
		<section class="py-5 newsletter-wrapper" style="background-image: url('{{ asset('site/images/background/bg_bk.jpg') }}'); background-size: cover;">
			<div class="container">
				<div class="subscride-inner">
					<div class="row style-1 justify-content-xl-between justify-content-lg-center align-items-center text-xl-start text-center">
						<div class="col-xl-7 col-lg-12">
							<div class="section-head mb-0">
								<h2 class="title text-white my-lg-3 mt-0">{{ render_content('cta-section-title', 'Browse our shop for the book you are looking for') }}</h2>
							</div>
						</div>
						<div class="col-xl-5 col-lg-6">
							<form class="dzSubscribe style-1" action="script/mailchamp.php" method="post">
								<div class="dzSubscribeMsg"></div>
								<div class="form-group">
									<div class="input-group mb-0">
										<a href="{{ path('app_shop') }}" class="btn btn-primary btnhover">
											<span>{{ render_content('cta-page-action', 'BROWSE SHOP') }}</span>
										</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Newsletter End -->
