    <!-- Testimonial -->
    <section class="content-inner-2 testimonial-wrapper">
        <div class="container">
            <div class="testimonial">
                <div class="section-head book-align">
                    <div>
                        <h2 class="title mb-0">{{ render_content('testimonials-title', 'Testimonials') }}</h2>
                        <p class="m-b0">{{ render_content('testimonials-intro', 'What clients are saying after reading our books. These live transforming books will give you the opportunity to experience a healthy lifestyle.') }}</p>
                    </div>
                    <div class="pagination-align style-1">
                        <div class="testimonial-button-prev swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                        <div class="testimonial-button-next swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-container testimonial-swiper">
            <div class="swiper-wrapper">
            {% for testimonial in testimonials %}
                <div class="swiper-slide">
                    <div class="testimonial-1 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="testimonial-info">
                            <ul class="dz-rating">
                                <li><i class="flaticon-star text-yellow"></i></li>	
                                <li><i class="flaticon-star text-yellow"></i></li>	
                                <li><i class="flaticon-star text-yellow"></i></li>	
                                <li><i class="flaticon-star text-yellow"></i></li>	
                                <li><i class="flaticon-star text-yellow"></i></li>	
                            </ul>
                            <div class="testimonial-text">
                                <p> {{ testimonial.content }} </p>
                            </div>
                            <div class="testimonial-detail">
                                <div class="testimonial-pic">
                                    <img src="{{ asset('/site/images/profile_pictures/user.jpg') }}" alt="">
                                </div>
                                <div class="info-right">
                                    <h6 class="testimonial-name">{{ testimonial.name }}</h6> 
                                    <span class="testimonial-position">{{ testimonial.title }}</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- Testimonial End -->
