
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="{{ render_background_image('vision-image', '/site/images/background/bg3.jpg') }}">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>{{ title }}</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_index') }}"> Home</a></li>
                        <li class="breadcrumb-item">{{ page_category }}</li>
                        <li class="breadcrumb-item">{{ title }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
