<!DOCTYPE html>
<html lang="en">
<head>
	{% set vce = global_vars('vce') %}
    {% set pages = global_vars('pages') %}
    {% set setting = global_vars('setting') %}
    {% if myseo is defined and myseo is not null %}
    {% set seo = myseo %}
    {% else %}
    {% set seo = global_vars('seo') %}
    {% endif %}

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="Joe SEO Consultants" />
	{# <meta name="robots" content="" /> #}
    <meta name="description" content="{% block meta_description %}{{ seo is not null ? seo.metaDescription : 'Discover health and educational books to improve family well-being. HHES Kenya offers resources on health, family, and spiritual growth in Swahili and English, with convenient home or office delivery.' }}{% endblock %}">
    <meta name="keywords" content="{{ seo is not null ? seo.keywords : 'HHES Kenya, Home Health Education Service, health books, educational resources, family health, spiritual growth, Swahili books, English books, relationship books, mental health books, book delivery Kenya' }}" />
    <meta name="author" content="gybird">
    {% include 'sections/website-json-ld.html.twig' %}
    {% include 'sections/local-business-json-ld.html.twig' %}
    <!-- title -->
    <title>{% block meta_title %}{{ seo is not null ? seo.metaTitle : 'Gybird Motors - Home of Mazda' }}{% endblock %}</title>

	<!-- FAVICONS ICON -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('site/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('site/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('site/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ asset('site/site.webmanifest') }}">	
    <link rel="canonical" href="{{ absolute_url(app.request.uri) }}">

	<!-- PAGE TITLE HERE -->
	<title>{% block title %}Home Health Education Service{% endblock %}</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('site/vendor/bootstrap-select/dist/css/bootstrap-select.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('site/icons/fontawesome/css/all.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('site/vendor/swiper/swiper-bundle.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('site/vendor/animate/animate.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('site/css/style.css') }}">
	<script src="{{ asset('site/js/jquery.min.js') }}"></script><!-- JQUERY MIN JS -->

	<!-- GOOGLE FONTS-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
	<style>
		#search-results, #search-results-ss {
			display: none; /* Initially hidden */
			position: absolute; /* Position above other elements */
			z-index: 1000; /* Ensure it's on top */
			width: 100%; /* Full width */
			background: white; /* Background color */
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for visibility */
			border: 1px solid #ddd; /* Border for separation */
			max-height: 400px; /* Maximum height */
			overflow-y: auto; /* Scroll if content exceeds max height */
		}
		.title, .title a {
			color: #2A6456;
		}
		.close-btn {
			position: absolute;
			top: 10px;
			right: 10px;
			background: red;
			color: white;
			border: none;
			padding: 5px 10px;
        	z-index: 1010; /* Higher than the z-index of the parent container */
			cursor: pointer;
		}
        
        #locationLoader {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 20px;
            border-radius: 5px;
            font-size: 16px;
            z-index: 1000;
        }

        #table-of-contents {
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        }
        #table-of-contents ul {
        list-style-type: none;
        padding-left: 0;
        }
        #table-of-contents li {
        margin-bottom: 5px;
        }
        #table-of-contents a {
        text-decoration: none;
        color: #0073e6;
        }
        #table-of-contents a:hover {
        text-decoration: underline;
        }
        /* Modal container styling */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        /* Modal content styling */
        .modal-content {
            position: relative;
            margin: 10% auto;
            padding: 20px;
            width: 80%;
            max-width: 1600px;
            background-color: white;
            border-radius: 8px;
        }

        .close {
            position: absolute;
            top: -22px; /* Adjust based on button height */
            right: -22px; /* Adjust based on button width */
            font-size: 32px;
            cursor: pointer;
            background-color: white;
            height: 34px;
            width: 34px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

	</style>
    {% block stylesheets %}
    {% endblock %}
    {# {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %} #}

</head>	
<body>

    <div class="page-wraper">

        {% include 'tmp/header.html.twig' %}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
        {% block body %}{% endblock %}
        {% include 'tmp/footer.html.twig' %}
    </div>
    <div id="updateModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <iframe id="modalFrame" src="" width="100%" height="400px"></iframe>
        </div>
    </div>
    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="{{ asset('site/vendor/wow/wow.min.js') }}"></script><!-- WOW JS -->
    <script src="{{ asset('site/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script><!-- BOOTSTRAP MIN JS -->
    <script src="{{ asset('site/vendor/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script><!-- BOOTSTRAP SELECT MIN JS -->
	<script src="{{ asset('site/vendor/bootstrap-touchspin/bootstrap-touchspin.js') }}"></script><!-- BOOTSTRAP TOUCHSPIN JS -->
    <script src="{{ asset('site/vendor/counter/waypoints-min.js') }}"></script><!-- WAYPOINTS JS -->
    <script src="{{ asset('site/vendor/counter/counterup.min.js') }}"></script><!-- COUNTERUP JS -->
    <script src="{{ asset('site/vendor/swiper/swiper-bundle.min.js') }}"></script><!-- SWIPER JS -->
    <script src="{{ asset('site/js/dz.carousel.js') }}"></script><!-- DZ CAROUSEL JS -->
    <script src="{{ asset('site/js/dz.ajax.js') }}"></script><!-- AJAX -->
    <script src="{{ asset('site/js/custom.js') }}"></script><!-- CUSTOM JS -->
<script>
$(document).ready(function() {
  // Attach a change event listener to all checkboxes
  $('.form-check-input').change(function() {
    var selectedCategory = $(this).next().text().trim(); // Get the text from the label

    // Get all selected categories (assuming you can select multiple checkboxes)
    var selectedCategories = [];
    $('.form-check-input:checked').each(function() {
      selectedCategories.push($(this).next().text().trim());
    });

    // Hide all books initially (optional, can be removed if you prefer)
    // $('.book-item').hide();

    // Show books with matching categories (at least one match required)
    $('.book-item').each(function() {
      var bookCategories = $(this).data('category').split(','); // Assuming comma separated categories

      // Check if any selected category matches a book category
      var showBook = false;
      for (var i = 0; i < selectedCategories.length; i++) {
        if (bookCategories.indexOf(selectedCategories[i]) !== -1) {
          showBook = true;
          break; // Exit loop if a match is found
        }
      }

      // Show the book if there are no selected categories (all unchecked)
      // OR if there's a match between selected and book categories
      $(this).show();
      if (selectedCategories.length > 0 && !showBook) {
        $(this).hide();
      }
    });
  });
});

</script>
<script>
    $(document).ready(function () {
        $('button[id^="cartProd_"]').on('click', function () {
            console.log('clicked');
            var formId = $(this).closest('form').attr('id');
            var productId = formId.split('-')[1];
            var clickedButton = $('#' + formId + ' button').attr('name');
            console.log(formId);
            console.log(productId);
            console.log(clickedButton);
            $.ajax({
                type: 'POST',
                url: "{{path('add_product_to_cart_index') }}", 
                data: {
                    product_id: productId,
                    clickedButton: clickedButton
                },
                success: function (response) {
                    console.log(response);
                    // Handle the response, update the cart UI, etc.
                    if (response.status === 'success') {
                        // Update total products and total price in your UI
                        window.location.href = '/cart';
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function() {
        const searchInput = $('.search-input input');
        const searchInputSS = $('#small_screen input');
        const categorySelect = $('#search_category');
        const resultsContainer = $('#search-results');
        const resultsContainerSS = $('#search-results-ss');
        const closeBtn = $('.close-btn');

        searchInput.on('input', function() {
            const query = searchInput.val();
            const category = categorySelect.val();

            if (query.length >= 3) {
                fetchResults(query, category);
            } else {
                resultsContainer.fadeOut(); // Hide results if the input is less than 3 characters
            }
        });

        searchInputSS.on('input', function() {
            const query = searchInputSS.val();
            const category = categorySelect.val();

            if (query.length >= 3) {
                fetchResultsSS(query, category);
            } else {
                resultsContainer.fadeOut(); // Hide results if the input is less than 3 characters
            }
        });

        categorySelect.on('change', function() {
            const query = searchInput.val();
            const category = categorySelect.val();

            if (query.length >= 3) {
                fetchResults(query, category);
            }
        });

        function fetchResults(query, category) {
            $.ajax({
                url: '/search',
                type: 'GET',
                data: {
                    query: query,
                    category: category
                },
                success: function(data) {
                    displayResults(data, 'big_screen');
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching search results:', error);
                }
            });
        }

        function fetchResultsSS(query, category) {
            $.ajax({
                url: '/search',
                type: 'GET',
                data: {
                    query: query,
                    category: category
                },
                success: function(data) {
                    displayResults(data, 'small_screen');
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching search results:', error);
                }
            });
        }

        function displayResults(books, screen) {
            resultsContainer.find('.book-item').remove(); // Clear previous book items
            resultsContainerSS.find('.book-item').remove(); // Clear previous book items
            console.log('reached to displayResults function');

            if (books.length === 0) {
                // Display "No books found" message
                resultsContainer.append('<div class="no-results">No books found</div>');
                resultsContainerSS.append('<div class="no-results">No books found</div>');
            } else {
                books.forEach(book => {
                    const bookHtml = `
                        <div data-category="${book.categories.join(', ')}" class="book-item col-md-12 col-sm-12">
                            <div class="dz-shop-card style-2">
                                <div class="dz-media">
                                    <img src="/site/images/books/${book.image}" alt="${book.title}">
                                </div>
                                <div class="dz-content">
                                    <div class="dz-header">
                                        <div>
                                            <ul class="dz-tags">
                                                ${book.categories.map(category => `<li><a href="/book/${book.slug}">${category.toUpperCase()}</a></li>`).join(', ')}
                                            </ul>
                                            <h4 class="title mb-0"><a href="/book/${book.slug}">${book.title}</a></h4>
                                        </div>
                                        <div class="price">
                                            <span class="price-num text-primary">KSh ${book.cost}</span>
                                            <del>KSh ${(book.cost * 1.15).toFixed(2)}</del>
                                        </div>
                                    </div>
                                    <div class="dz-body">
                                        <div class="dz-rating-box">
                                            <div>
                                                <p class="dz-para">${book.description.slice(0, 300)}...
                                                    <a href="/book/${book.slug}">More Details</a>
                                                </p>
                                                <div>
                                                    <a href="/shop" class="badge">Get 15% Discount for today</a>
                                                </div>
                                            </div>
                                            <div class="review-num">
                                                <a href="#"><h4>Reviews</h4></a>
                                            </div>
                                        </div>
                                        <div class="rate">
                                            <ul class="book-info">
                                                <li><span>Written by</span>${book.authors.join(', ')}</li>
                                                <li><span>Publisher</span>${book.publisher}</li>
                                            </ul>
                                            <div class="d-flex">
                                                <a style="margin-right:10px;" href="/book/${book.slug}" class="btn btn-primary">Book Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                    if(screen == 'small_screen'){
                        console.log('reached to if small screen');
                        resultsContainerSS.append(bookHtml);
                    } else {
                        console.log('reached to if small screen neg');
                        resultsContainer.append(bookHtml);
                    }
                });
            }

            if(screen == 'small_screen'){
                resultsContainerSS.fadeIn();
            } else {
                resultsContainer.fadeIn();
            }
        }

        closeBtn.on('click', function() {
            resultsContainer.fadeOut();
            resultsContainerSS.fadeOut();
        });
    });
</script>

    <script>
    // Function to create a slug from text
    function createSlug(text) {
        return text
        .toLowerCase()
        .trim()
        .replace(/[^a-z0-9\s-]/g, '') // Remove special characters
        .replace(/\s+/g, '-') // Replace spaces with hyphens
        .replace(/-+/g, '-'); // Remove consecutive hyphens
    }

    // Select all <h2> elements
    const headings = document.querySelectorAll("h2");
    // Select the TOC container div
    const tocContainer = document.querySelector("#table-of-contents");

    // Check if there are <h2> elements and the TOC container exists
    if (headings.length > 0 && tocContainer) {
        // Create the TOC content dynamically
        const tocHeading = document.createElement("h2");
        tocHeading.textContent = "On This Page";
        tocContainer.appendChild(tocHeading);

        const tocList = document.createElement("ul");
        tocContainer.appendChild(tocList);

        // Add <li> and <a> for each <h2>
        headings.forEach((heading) => {
        const slug = createSlug(heading.textContent);

        // Ensure each heading has a unique ID based on its slug
        heading.id = slug;

        // Create list item and link
        const listItem = document.createElement("li");
        const link = document.createElement("a");
        link.href = `#${slug}`;
        link.textContent = heading.textContent;

        listItem.appendChild(link);
        tocList.appendChild(listItem);
        });
    }
    </script>    {% if is_granted('ROLE_ADMIN') %}
        <script src="https://joe-seo-co-ke.github.io/keyword-tool/keyword-tool.js"></script>
    {% endif %}
    <!-- Please link back to https://joeseo.co.ke/keyword-tool -->
    {# <!-- scroll-top -->
    <a href="#" id="scroll-top"><i class="far fa-arrow-up"></i></a>
    <!-- scroll-top end --> #}
    <script>

    function openModal(event, element) {
        event.preventDefault(); // Prevent default link behavior

        // Set the iframe source to the href of the link
        document.getElementById('modalFrame').src = element.href;

        // Show the modal
        document.getElementById('updateModal').style.display = "block";
    }

    function closeModal() {
        // Hide the modal
        document.getElementById('updateModal').style.display = "none";
        
        // Clear the iframe src (optional, for security and performance)
        document.getElementById('modalFrame').src = "";
    }

    </script>


    {% block javascripts_bottom %}
    
    {% endblock %}

</body>
</html>