{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# {% if 'toMany' == field.customOptions.get('associationType') %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% else %}
    {% if field.customOptions.get('relatedUrl') is not null %}
        <a href="{{ field.customOptions.get('relatedUrl') }}">{{ field.formattedValue }}</a>
    {% else %}
        {{ field.formattedValue }}
    {% endif %}
{% endif %}

#}
<button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTable{{entity.instance.id}}" aria-expanded="false" aria-controls="collapseTable">
    View Constituencies ({{entity.instance.constituencies | length}})
</button>

<div class="collapse" id="collapseTable{{entity.instance.id}}">
    <table class="table">
        <thead>
            <tr>
                <th>Constituency</th>
                <th>No. Of Users</th>
            </tr>
        </thead>
        <tbody>
            {% for item in entity.instance.constituencies %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.users | length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
