.dz-card{
	.dz-media{
		img{
			width:100%;
		}
	}
	&.style-1{
		.dz-info {
			background-color:#fff;
			padding-top: 30px;
			.dz-meta{
				ul {
					margin-bottom: 15px;
					li{
						font-weight: 600;
						font-size: 14px;
						color:#11142D;
						font-family:var(--font-family-title);
						&.post-date{
							font-weight: 400;
							color: #aaa;
							font-family:var(--font-family-base);
						}
					
					}
				}
				
			}
			@media only screen and (max-width: 600px) {
				
				border: 1px solid rgba(0, 0, 0, 0.125);
				border-radius: 6px;
				
			}
		}
	}
	
	&.style-2{
		margin-bottom: 10px;
		.dz-media{
			border-radius: 12px 12px 0 0;
			&:after{
				content:"";
				position:absolute;
				width:100%;
				height:100%;
				color:rgba(19, 16, 69, 0.87);
			}
		}
		.dz-info{
			border: 1px solid #F0F0F0;
			padding: 33px 32px 30px;
			border-radius: 0 0 var(--border-radius-base) var(--border-radius-base);
			.dz-tags{
				margin-bottom:20px;
				li {
					display:inline-block;
					a{
						font-size: 12px;
						font-weight: 700;
						padding: 4px 10px;
						background-color:#F2F2F2;
						color: var(--title);
						border-radius: var(--border-radius-base);
						display: block;
						&:hover{
							background-color:var(--primary);
							color:#fff;
						}
						@include respond('tab-port'){
							padding:8px 10px;
						}
					}
				}
			}
			.post-author{
				font-weight:700;
				color: var(--title);
			}
			.bookcard-footer{
				display:flex;
				align-items:baseline;
				justify-content: space-between;
				position: relative;
				.price-details{
					font-size: 24px;
					font-weight: 600;
					margin: 0;
					font-family:var(--font-family-title);
					color: var(--title);
					
					del{
						font-size: 18px;
						font-weight: var(--headings-font-weight) ;
						color: #AAAAAA;
						margin-left:7px;
					}
				}
				@include respond('tab-port'){
					display:block;
					.btn{
						display:block;
					}
					.price-details{
						text-align: center;
						margin-top: 15px;
					}
				}
				@media screen and (max-width: 600px){
					display: flex;
					.price-details{
						margin-top: 0px;
					}
				}
				@include respond('phone'){
					display: flex;
					flex-direction: column-reverse;
					flex-wrap: wrap;
					.price-details{
						margin-top: 15px;
						text-align:center;
					}
				}
			}
			@include respond('tab-port'){
				padding: 25px;
			}
			
		}
	}
}
.book-swiper{
	.swiper-slide{
		.swiper-slide-active{
			.dz-card{
				box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
			}
		}
	}
}