.blog-swiper{
	width: auto;
	.swiper-slide{
		& > div{	
			height:100%;
		}	
	}	
}
.dz-card{
	position:relative;
	
	.dz-meta{
		margin-bottom:10px;
		li{
			&.post-date{
				
			}
		}
	}
	
	.dz-info{
		position:relative;
	}
	.dz-title{
		margin-bottom:15px;	
		word-break: break-word;
	}
	&.blog-half{
		display:flex;
		@include respond('phone'){
			display:block;
		}
		.dz-info{
			padding:30px;
			position:relative;
			flex: 1;
		}
		.dz-media{
			margin-bottom: 0;
			max-width: 300px;
			min-width: 300px;
			@include respond('tab-land'){
				max-width: 250px;
				min-width: 250px;
			}
			@include respond('phone'){
				max-width: 100%;
				min-width: 100%;
			}
			a{
				display:block;
				height:100%;
				
				
			}
			img{
				height:100%;
				object-fit:cover;
				min-height: 235px;
				@include respond('phone'){
					min-height: auto;
				}
			}
		}
		&.post-video .post-video-icon{
			width: 60px;
			height: 60px;
			font-size: 20px;
		}
		.swiper-container{
			height: 100%;
		}
	}
}
.dz-meta{
	margin-bottom:10px;
	ul{
		margin:0;
		padding:0;
		li{
			display:inline-block;
			margin-right:10px;
			&:last-child{
				margin-right:0;
			}
			i{
				font-size: 20px;
				margin-right: 2px;
				color: var(--primary);
				transform: scale(1.3);
				position: relative;
				top: 2px;
			}
			a{
				color:inherit;	
			}	
		}	
	}	
}
.post-video .post-video-icon {
    width: 100px;
    height: 100px;
	line-height: 100px;
	border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
	color: var(--primary);
	font-size: 30px;
	margin: 0 auto;
   background-color: $white;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
	box-shadow: 0 0 0 8px rgba(#fff,0.5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
	
	@include respond('phone'){
		height: 50px;
		width: 50px;
		line-height: 50px;
		font-size: 14px;
	}
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		border: 1px solid #fff;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 100%;
		animation: animationSignal1;
		animation-iteration-count: infinite;
		animation-duration: 3s;
		-webkit-animation: animationSignal1;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-duration: 3s;
		z-index: -1;
		transform:  scale(1);
		-moz-transform:  scale(1);
		-webkit-transform:  scale(1);
		-ms-transform:  scale(1);
		-o-transform:  scale(1);
		-moz-transition:all 0.5;
		-o-transition:all 0.5;
		-webkit-transition:all 0.5;
		-ms-transition:all 0.5;
		transition:all 0.5;
	}
	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		border: 1px solid #fff;
		-webkit-border-radius: 100%;
		-khtml-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
		border-radius: 100%;
		animation: animationSignal2;
		animation-iteration-count: infinite;
		animation-duration: 3s;
		-webkit-animation: animationSignal2;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-duration: 3s;
		z-index: -1;
		transform:  scale(1);
		-moz-transform:  scale(1);
		-webkit-transform:  scale(1);
		-ms-transform:  scale(1);
		-o-transform:  scale(1);
		-moz-transition:all 0.5;
		-o-transition:all 0.5;
		-webkit-transition:all 0.5;
		-ms-transition:all 0.5;
		transition:all 0.5;
	}
}

.blog-slider{
	margin-left:-30px;
	margin-right:-30px;
	padding-left:15px;
	padding-right:15px;
	margin-top: -40px;
	.swiper-slide{
		& > div{
			margin-left:15px;
			margin-right:15px;
			margin-top: 40px;
			margin-bottom: 40px;
			box-shadow:none;
		}
		&.swiper-slide-active,
		&.swiper-slide-next,
		&.swiper-slide-duplicate-prev{
			& > div{
				box-shadow: 1px 1.732px 50px 0px rgba(0, 0, 0, 0.1);
				&:hover{
					box-shadow: 1px 1.732px 50px 0px var(--rgba-primary-1);
				}
			}
		}
	}
}

.post-swiper{
	.btn-next,
	.btn-prev{
		border-radius:var(--border-radius-base);
	}
}
.sticky,
.tag-sticky-2.post{
	position: relative;
    border: 0.375rem solid var(--primary);
    overflow: hidden;

	.sticky-icon {
		background: var(--primary);
		width: 3.125rem;
		height: 3.125rem;
		position: absolute;
		transform: rotate(45deg);
		top: -1.563rem;
		right: -1.563rem;
		z-index: 1;
		color: #fff;
		
		i{
			position: absolute;
			bottom: 0.1875rem;
			right: 1.125rem;
			transform: rotate(5deg);
			color: #fff;
			font-size: 1rem;
		}
	}
}










